﻿@model  IEnumerable<KPSTMTK.Models.News>

@{
    ViewBag.Title = "Kapasitematik Haberleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   .cc-color .cc-btn {
        color: black;
        background-color: #fff;
        border-color: transparent;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
 
</style>

<div class="section section-pad-md section-bg-alt blog-section" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-0  ">
                <h4>Haberler</h4>
                <div class="blog-list">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6 offset-lg-0 col-sm-6">
                                <div class="blog-item">
                                    <div class="blog-photo">
                                        <a href="@item.Url">
                                            <img style="height:225px; width:270px" src="@item.ListThumb">
                                        </a>
                                    </div>

                                    <div class="blog-texts">
                                        <ul class="blog-meta">
                                            <li><span style="color:#dddddd">@item.Date</span></li>
                                        </ul>
                                        <h6 class="blog-title"><a style="color:#f1f1f1" href="@item.Url">@item.Title</a></h6>
                                        <p class="">
                                            <a style="color:#f0f0f0" href="@item.Url">Detay »</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        }
                    </div><!-- .row -->
                </div><!-- .news-list -->

            </div><!-- .col -->
            <div class="col-lg-4">

                <div class="sidebar-section">


                    <div>
                        <div class="row" style="height:150px;">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                    <!-- .sidebar-widget -->
                    @*<div class="sidebar-widget tags">
                            <h5 class="sidebar-widget-title">Tags</h5>
                            <ul>
                                <li><a href="#">kapasitematik</a></li>
                                <li><a href="#">endüstri 4.0</a></li>
                                <li><a href="#">üretim</a></li>
                                <li><a href="#">teknoloji</a></li>
                            </ul>
                        </div>*@
                    <!-- .sidebar-widget -->
                    @*<div class="sidebar-widget archive">
                            <h5 class="sidebar-widget-title">Archive</h5>
                            <select name="post-archive" id="post-archive">
                                <option value="Select Month">Select Month</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                            </select>
                        </div>*@<!-- .sidebar-widget -->


                </div><!-- .sidebar-section -->

            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->
</div>
