﻿<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Analyzing the efficiency of the Kapasitematik machine; It is a system that reports errors and problems to its users by making instant feedback and providing error-free production solutions.">
    <meta name="keywords" content="Kapasitematik, CNC efficiency, CNC Industry 4.0 applications">
    <meta name="robots" content="index, follow" />


    <meta property="og:url" content="https://www.kapasitematik.com" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="Kapasitematik" />
    <meta property="og:description" content="Tezmaksan Makina AR-GE ekibinin geliştirdiği yazılım programı Kapasitematik ile işletme sahipleri internet olan her ortamdan makinelerini takip edebilecek." />
    <meta property="og:image" content="https://www.kapasitematik.com/images/kapasitematik_300x300.jpg" />

    <link rel="stylesheet" type="text/css" media="all" href="/content/cerez.css" />

    <script language="javascript" type="text/javascript" src="/content/cerez.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#f2f2f2", // şerit arkaplan rengi
                        "text": "#black" // şerit üzerindeki yazı rengi
                    },
                    "button": {
                        "background": "#258ec0", // buton arkaplan rengi - "transparent" kullanıp border açabilirsiniz.
                        //"border": "#14a7d0", arkaplan rengini transparent yapıp çerçeve kullanabilirsini
                        "text": "black" // buton yazı rengi
                    }
                },
                "theme": "classic", // kullanabileceğiniz temalar block, edgeless, classic
                // "type": "opt-out", gizle uyarısını aktif etmek için
                // "position": "top", aktif ederseniz uyarı üst kısımda görünür
                // "position": "top", "static": true, aktif ederseniz uyarı üst kısımda sabit olarak görünür
                // "position": "bottom-left", aktif ederseniz uyarı solda görünür
                //"position": "bottom-right", aktif ederseniz uyarı sağda görünür
                "content": {
                    "message": "We use our cookies to improve your experience and our services. If you continue browsing, we take that to mean that you accept their use. You can find the information on the use of  <a href='https://www.kapasitematik.com/cookie-policy' style='color:#2b9dd2;font-weight: bold;text-decoration: underline !important;' target='_blank'>Cookies Policy</a>",
                    "dismiss": "Okey",
                    "link": "",
                    "href": " "
                }
            })
        });
    </script>
    <style>

        .cc-message {
            font-size: 15px;
            font-family: "Poppins", sans-serif !important;
        }

        .cc-theme-classic .cc-btn:last-child {
            font-size: 13px;
            font-family: "Poppins", sans-serif !important;
        }
    </style>
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/content/images/favicon-96x96.png">
    <!-- Site Title  -->
    <title>@ViewBag.Title</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/content/assets/css/vendor.bundle.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/content/assets/css/style.css">
    <link rel="stylesheet" href="/content/assets/css/theme.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <style>
        img.ab {
            margin-top: 4px;
        }

        .a {
            margin-left: 35px;
        }
    </style>
</head>

<body class="theme-dark io-lobelia" data-spy="scroll" data-target="#mainnav" data-offset="80">

    <!-- Header -->
    <header class="site-header is-sticky">
        <div id="particles-js" class="particles-container particles-js"></div>

        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">

                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="@Url.Action("IndexEn","Home")">
                    <img class="logo logo-dark" alt="logo" src="~/images/kapasitematik_logoEng.png" srcset="~/images/kapasitematik_logoEng.png">
                    <img class="logo logo-light" alt="logo" src="~/images/kapasitematik_logoEng.png" srcset="~/images/kapasitematik_logoEng.png">
                </a>
                <div class="a">
                    <p>
                        <a href="@Url.Action("Index","Home")"> <img src="/Content/images/tr-image.png" width="20" /> </a>
                        <a href="/en"> <img src="/Content/images/en-image.png" width="20" /> </a>
                    </p>

                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                        <li class="nav-item"><a class="nav-link menu-link" href="#intro">KAPASITEMATIK<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">REPORTING</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">PROCESS MAP</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#app">MOBILE APP</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="@Url.Action("ReferansListEn", "referanslar")#ref">REFERANCES</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#partners">VIDEOS</a></li>
                        <!--<li class="nav-item"><a class="nav-link menu-link" href="#question">Sık Sorulan Sorular</a></li>-->
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">MORE</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item menu-link" href="#media-partner">Media Partners</a>
                                <a class="dropdown-item menu-link" href="#faq">Faqs</a>
                            </div>
                        </li>-->
                        <li class="nav-item"><a class="nav-link menu-link" href="#contact">CONTACT</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="~/Content/files/kapasitematikEn.pdf">CATALOG</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="#demo">REQUEST KAPASITEMATIK</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

    </header>
    <!-- End Header -->
    @RenderBody()

    <!-- Start Section -->
    <div class="section section-pad section-bg" id="contact">
        <div class="container">


            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                            CONTACT US
                            <span>kapasitematik</span>
                        </h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".1">You have a question?Write to us, we will do the return to you as soon as possible..</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <ul class="contact-info">
                        <li class="animated" data-animate="fadeInUp" data-delay=".2"><em class="fa fa-phone"></em><span>0212 674 60 10 </span></li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".3"><em class="fa fa-envelope"></em><span>kapasitematik@tezmaksan.com</span></li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".4"><em class="fa fa-paper-plane"></em><span><a href="https://goo.gl/maps/P823Fpg1eSA2">Find Us</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    @using (Html.BeginForm("Contact", "Home", new { language = "en" }, FormMethod.Post, new { @class = "well form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="contact-form" class="form-message text-center">
                            <div class="form-results"></div>
                            <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                                <input name="Name" id="Name" type="text" class="input-line required" required>
                                <label class="input-title">Name</label>
                            </div>
                            <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                                <input name="Email" id="Email" type="Email" class="input-line required email" required>
                                <label class="input-title">E-Mail</label>
                            </div>
                            <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                                <textarea name="Message" id="Message" class="txtarea input-line required" required></textarea>
                                <label class="input-title">Message</label>
                            </div>
                            <small>
                                <input type="hidden" name="kvkk_itsm_rslt_en" id="kvkk_itsm_rslt_en" value="false" />
                                <input name="Kvkk_Onay" id="Kvkk" type="checkbox" class="email kvkkonay_iltsim_en">  I have read the <a href="/aydinlatma-beyani" target="_blank">text illumination</a> for the protection of personal data.

                            </small>
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">

                            <div class="input-field" data-animate="fadeInUp" data-delay=".6">
                                <div class="g-recaptcha" data-sitekey="6LfM-IMUAAAAABEx0l-Q4Ar6bc7EZsHqNIlZmFop"></div>
                            </div>



                            <div class="input-field">
                                <button type="submit" class="btn iltsm_gndr_en" id="concButon">Send</button>
                            </div>
                        </div>
                    }

                </div>
            </div>


        </div>
    </div>
    <!-- End Section -->
    <!-- Start Section -->
    <div class="section subscribe-section section-pad-md section-bg-alt section-connect">
        <div class="container">
            @using (Html.BeginForm("News", "Home", new { language = "en" }, FormMethod.Post, new { @class = "well form-horizontal" }))
            {
                @Html.AntiForgeryToken()


                <div class="row justify-content-center text-center">
                    <div class="col-md-6 col-lg-6">

                        <div id="subscribe-form" action="Home/News" method="post" class="subscription-form inline-form animated" data-animate="fadeInUp" data-delay=".1">
                            <input type="text" name="Email" class="input-round required email" placeholder="E-Mail" required>
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                            <button type="submit" class="btn btn-plane">Subscribe</button>
                            <div class="subscribe-results"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ">
                        <a href="/privacy-policy" style="visibility: hidden;">Privacy Policy | </a>  <a href="/cookie-policy">Cookies Policy</a>
                    </div>
                </div>
            }
        </div>

    </div>

    <!-- End Section -->
    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->
    <!-- JavaScript (include all script here) -->
    <script src="/content/assets/js/jquery.bundle.js"></script>
    <script src="/content/assets/js/script.js"></script>




</body>
</html>







<script>

    $('.kvkkonay_iltsim_en').change(function () {
        var checkValue = $('#kvkk_itsm_rslt_en').val();
        if (checkValue == 'true') {
            $('#kvkk_itsm_rslt_en').val('false');
        }
        else if (checkValue == 'false') {
            $('#kvkk_itsm_rslt_en').val('true');
        }

    });


    $(".iltsm_gndr_en").click(function () {

        var kvkk_val = $('#kvkk_itsm_rslt_en').val();
        if (kvkk_val != "true") {
            alert("Your application could not be submitted. In order to proceed, please read and confirm the text Illumination.");
            return false;
        }
    });


    $('.kvkkonay_kpstmtk_en').change(function () {
        var checkValue = $('#kvkk_rslt_en').val();
        if (checkValue == 'true') {
            $('#kvkk_rslt_en').val('false');
        }
        else if (checkValue == 'false') {
            $('#kvkk_rslt_en').val('true');
        }

    });


    $("#kpstmk_talep_gndr_en").click(function () {

        var kvkk_val = $('#kvkk_rslt_en').val();
        if (kvkk_val != "true") {
            alert("Your application could not be submitted. In order to proceed, please read and confirm the text Illumination.");
            return false;
        }
    });


</script>







@*<script type="text/javascript">


        $("#iletisim_form").submit(function () {


            var Name = $('#Name').val();

            var Message = $('#ad_soyad').val();
            var Email = $('#Email').val();
            if (Name == "" || Email == "" || Message == "" ) {

                alert('Lütfen tüm alanları doldurunuz.');

                $('#Name').val(firma_adi);

                $('#Email').val(Email);
                $('#Message').val(e_posta);
                return false;

            }

            $('#concButon').hide();
            $('#errMesaj').text('İsteğiniz gönderiliyor...Lütfen bekleyiniz.');

            jQuery.ajax({
                type: "POST",
                url: "/Home/Contact",
                data: {
                    Name: $("#Name").val(),
                    Email: $("#Email").val(),
                    Message: $("#Message").val(),
                    Kvkk_Onay: $("#Kvkk_Onay").val()
                },
                success: function (data) {


                    $("#Name").val("");

                    $("#Email").val("");
                    $("#Message").val("");

                    $('#sikayet_form_button').show();

                }
            });

            return false;
        });

        //checkbox lar değitigince true false yapar

        $(document).ready(function () {
            $('#Kvkk').change(function () {
                var checkValue = $('#Kvkk').val();
                if (checkValue == 'true') {
                    $('#Kvkk_Onay').val('false');
                }
                else if (checkValue == 'false') {
                    $('#Kvkk_Onay').val('true');
                }

            });
        });


    </script>*@