﻿<!DOCTYPE html>

<html lang="zxx" class="js">

<head>

    <meta content="text/html" charset="iso-8859-9" http-equiv="content-type">
    <meta charset="utf-8" />
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kapasitematik Makina verimliliğini analiz eden; hata ve problemleri anlık geri bildirim yaparak kullanıcısına raporlayan ve hatasız üretim çözümleri sunan bir sistemdir.">
    <meta name="keywords" content="Kapasitematik, CNC verimlilik, CNC Endüstri 4.0 uygulamaları">
    <meta name="robots" content="index, follow" />

    <meta property="og:url" content="https://www.kapasitematik.com" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="Kapasitematik" />
    <meta property="og:description" content="Tezmaksan Makina AR-GE ekibinin geliştirdiği yazılım programı Kapasitematik ile işletme sahipleri internet olan her ortamdan makinelerini takip edebilecek." />
    <meta property="og:image" content="https://www.kapasitematik.com/images/kapasitematik_300x300.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128508074-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128508074-1');
    </script>

    <link rel="stylesheet" type="text/css" media="all" href="/content/cerez.css" />

    <script language="javascript" type="text/javascript" src="/content/cerez.js"></script>



    <script language="javascript" type="text/javascript">
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#f2f2f2", // şerit arkaplan rengi
                        "text": "black" // şerit üzerindeki yazı rengi



                    },
                    "button": {
                        "background": "#fff", // buton arkaplan rengi - "transparent" kullanıp border açabilirsiniz.
                        "widht": "2px",
                        //"border": "#14a7d0", arkaplan rengini transparent yapıp çerçeve kullanabilirsini
                        "text": "black" // buton yazı rengi
                    }
                },
                "theme": "classic", // kullanabileceğiniz temalar block, edgeless, classic
                // "type": "opt-out", gizle uyarısını aktif etmek için
                // "position": "top", aktif ederseniz uyarı üst kısımda görünür
                // "position": "top", "static": true, aktif ederseniz uyarı üst kısımda sabit olarak görünür
                // "position": "bottom-left", aktif ederseniz uyarı solda görünür
                //"position": "bottom-right", aktif ederseniz uyarı sağda görünür
                "content": {
                    "message": "Hizmetlerimizden en iyi şekilde faydalanabilmeniz için çerezler kullanıyoruz. kapasitemetik.com'u kullanarak çerezlere izin vermiş olursunuz. <a href='https://www.kapasitematik.com/cerez-politikasi' style='font-size:12px;color:#2b9dd2;font-wight:bold;text-decoration: underline !important;' target='_blank' >Çerez Politikası</a> için tıklayın. ",
                    "dismiss": "X",


                    "link": "",
                    "href": " "

                }
            })
        });
    </script>

    <style>
        @@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape) {

            .cc-message a {
                font-size: 6px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
            }
        }

        .cc-message a {
            font-size: 11px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        }

        .cc-theme-classic .cc-btn:last-child {
            font-size: 13px;
            font-family: "Poppins", sans-serif !important;
        }

        .a .cc-btn {
            background-color: #fff;
        }
    </style>

    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/images/kapasitematik-favicon.png">
    <!-- Site Title  -->
    <title>@ViewBag.Title</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/content/assets/css/vendor.bundle.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/content/assets/css/style.css">
    <link rel="stylesheet" href="/content/assets/css/theme.css">

    <link href="~/Content/lightbox.css" rel="stylesheet" />

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <style>
        img.ab {
            margin-top: 4px;
        }

        .a {
            margin-left: 20px;
        }
    </style>


    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "Kapasitematik",
        "image": "https://www.kapasitematik.com/images/haberler/oee-analizi-kapasitematik-1.png",
        "description": "Tezmaksan Makina AR-GE ekibinin geliştirdiği yazılım programı Kapasitematik ile işletme sahipleri internet olan her ortamdan makinalarını takip edebilecek. Makina verimli çalışıyor mu? Ne zaman arıza verdi? Operatör tarafından doğru program kullanılıyor mu? gibi bilgiler, anında tablet veya cep telefonundan kontrol edilebilecek. Bu sayede işletmeler hem zamandan hem maliyetten önemli ölçüde tasarruf edecek.",
        "brand": "Tezmaksan"
        }
    </script>

</head>

<body class="theme-dark io-lobelia" data-spy="scroll" data-target="#mainnav" data-offset="80">

    <!-- Header -->
    <header class="site-header is-sticky">
        <div id="particles-js" class="particles-container particles-js"></div>

        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">

                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/">
                    <img class="logo logo-dark" alt="kapasitematik logo" src="~/images/kapasitematik_logo2.png" srcset="~/images/kapasitematik_logo-v2.png">
                    <img class="logo logo-light" alt="kapasitematik logo" src="~/images/kapasitematik_logo2.png" srcset="~/images/kapasitematik_logo-v2.png">
                </a>
                <div class="a">
                    <p>
                        <a href="@Url.Action("Index","Home")"> <img src="/Content/images/tr-image.png" width="20" /> </a>
                        <a href="/en"> <img src="/Content/images/en-image.png" width="20" /> </a>
                    </p>

                    @*@Url.Action("en", "Home")*@
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                        @*  <li class="nav-item"><a class="nav-link menu-link" href="#intro">KAPASİTEMATİK<span class="sr-only">(current)</span></a></li>*@
                        @*<li class="nav-item"><a class="nav-link menu-link" href="#about">HAKKIMIZDA</a></li>*@
                        <li class="nav-item"> <a class="nav-link menu-link" href="@Url.Action("Index", "Home")#why">NEDEN KAPASİTEMATİK?</a>

                        <li class="nav-item"><a class="nav-link menu-link" href="@Url.Action("Index", "Home")#report">RAPORLAMA</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="@Url.Action("App", "Home")">MOBİL UYGULAMA</a></li>
                        @*<li class="nav-item"><a class="nav-link menu-link" href="#partners">VİDEOLAR</a></li>*@
                        <!--<li class="nav-item"><a class="nav-link menu-link" href="#question">Sık Sorulan Sorular</a></li>-->
                        <li class="nav-item"><a class="nav-link menu-link" href="@Url.Action("Index", "haberler")">HABERLER</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="@Url.Action("Index", "referanslar")">REFERANSLAR</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="@Url.Action("Contact", "Home")">İLETİŞİM</a></li>
                        @*<li class="nav-item"><a class="nav-link menu-link" href="/Blog">BLOG</a></li>*@

                        @*<li class="nav-item"><a class="nav-link menu-link" href="~/Home/IndexEn.cshtml">En/</a><a class="nav-link menu-link" href="~/Home/Index.cshtml">Tr</a></li>*@
                    </ul>
                    <ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="~/content/files/kapasitematik.pdf" style="color: white;">KATALOG</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="@Url.Action("TalepFormu", "Home")" style="color: white;">KAPASİTEMATİK TALEP</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

    </header>
    <!-- End Header -->


    @RenderBody()


    <!-- Start Section -->
    <div class="section subscribe-section section-pad-md section-bg-alt section-connect">
        <div class="container">



            @using (Html.BeginForm("News", "Home", new { language = "tr" }, FormMethod.Post, new { @class = "well form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="row justify-content-center text-center">
                    <div class="col-md-6 col-lg-6">

                        <div id="subscribe-form" action="Home/News" method="post" class="subscription-form inline-form animated" data-animate="fadeInUp" data-delay=".1">
                            <input name="newsletterSubscriber" class="input-round required email" placeholder="E-Posta Adresiniz" type="email" required>
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                            <button type="submit" class="btn btn-plane">Abone Ol</button>
                            <div class="subscribe-results"></div>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="/gizlilik-politikasi">Gizlilik Politkası</a> | <a href="/cerez-politikasi">Çerez Politikası</a> | <a href="/veri-politikasi">Veri Politikalarımız</a>
                    </div>
                </div>


            }

        </div>

    </div>
    <!-- End Section -->
    <!-- Preloader !remove please if you do not want -->
    <!-- Preloader End -->
    <!-- JavaScript (include all script here) -->
    <script src="/content/assets/js/jquery.bundle.js"></script>
    <script src="/content/assets/js/script.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            var clean_uri = location.protocol + "//" + location.host + location.pathname;

            window.history.replaceState({}, document.title, clean_uri);

        });
    </script>


    <script src="~/Scripts/lightbox.js"></script>

</body>
</html>

<script>

    $('.kvkkonay_iltsim').change(function () {
        var checkValue = $('#kvkk_itsm_rslr').val();
        if (checkValue == 'true') {
            $('#kvkk_itsm_rslr').val('false');
        }
        else if (checkValue == 'false') {
            $('#kvkk_itsm_rslr').val('true');
        }

    });


    $(".iltsm_gndr").click(function () {

        var kvkk_val = $('#kvkk_itsm_rslr').val();
        if (kvkk_val != "true") {
            alert("Devam edebilmeniz için,lütfen  Aydınlatma Beyanını okuyunuz ve onaylayınız.");
            return false;
        }
    });


    $('.kvkkonay_kpstmtk').change(function () {
        var checkValue = $('#kvkk_rslt').val();
        if (checkValue == 'true') {
            $('#kvkk_rslt').val('false');
        }
        else if (checkValue == 'false') {
            $('#kvkk_rslt').val('true');
        }

    });


    $("#kpstmk_talep_gndr").click(function () {

        var kvkk_val = $('#kvkk_rslt').val();
        if (kvkk_val != "true") {
            alert("Devam edebilmeniz için,lütfen  Aydınlatma Beyanını okuyunuz ve onaylayınız.");
            return false;
        }
    });


</script>