﻿

		<p>İşbu aydınlatma beyanının amacı <strong>TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş.</strong> (“Şirketimiz”) olarak, başta özel hayata ilişkin gizlilik olmak üzere temel hak ve özgürlüklerin korunmasını için yaptığımız uygulamalar ile ilgili bilgi sunmaktır.
Bilgi güvenliğinin sağlanması ve korunması,ve etik değerlere saygı öncelikli prensiplerimiz arasında yer almaktadır. 
</p>
<p>Buna bağlı olarak <strong>Kişisel Verilerin Korunması Kanunu (“KVKK”) 10. Maddesinden doğan</strong> aydınlatma <span class="textUnderline">yükümlülüğümüzü</span > yerine getirmek kapsamında aşağıdaki açıklamalarımız bilgilerinize sunulmaktadır;</p>
<p><strong >Veri SorumlusuTanımı: </strong></p>	
<p>KVKK’da tanımlı şekli ile “Veri Sorumlusu” sıfatına haiz olan Şirketimiz, kişisel verilerinizi aşağıda açıklanan amaçlar ve mevzuat tarafından emredilen sınırlar çerçevesinde işlemektedir.</p>	
<p><strong >Kapsam :</strong></p>	
<p>Şirketimizde, <strong class="textUnderline">gönüllü, kısmi veya tam süreli,  çalışanlar, alt yüklenici personelleri, sözleşme ve anlaşmaya bağlı uzaktan veya yerinde hizmet sağlayıcıları dahil fakat bunlarla sınırlı olmaksızın kişilerin ve aile bireylerinin veya yakınlarının, referans olarak beyan edilen kişilerin, danışmanların,sözleşme ilişkisinde bulunulan gerçek kişi veya tüzel kişilerin ve/veya bunların çalışanlarının, hukuki işlemlerin muhatabı olan kişi/kişilerin</strong> (Şirket tarafından veya Şirket aleyhine açılmış/açılacak/kesinleşmiş davalar, icra takipleri, arabuluculuk işlemleri gibi hukuki işlemlerin taraflarının) ,müşteri,potansiyel müşteri ,tedarikçi,Çağrı sahipleri, Anket ve eğitim katılımcılarının kişisel ve özel nitelikli kişisel verileri KVKK’ya uygun olarak toplanmakta, kaydedilmekte ve işlenmektedir.</p>	
<p><strong class="textUnderline">Müşteriler,Potansiyel Müşteriler,Tedarikçiler,Çağrı Sahipleri, Anket ve Eğitim Katılımcıları ile ilgili Toplanan Kişisel Veriler; </strong></p>		
		
<ul  class="ulStyls">
<li><strong>»</strong> Adı, soyadı, TCKN, doğum tarihi, Telefonu(ev ve cep), e-postası,kurumsal eposta adresi,işyeri adresi,</li>
<li><strong>»</strong> Çalıştığı şirket, departmanı, çalışma şekli, mesleği, unvanı, Şirket yetkilileri ile görüşme esnasında alınan ses kayıtları,</li>
<li><strong>»</strong> Telekonferans, görüntülü görüşme, telefon gibi araçlarla veya yüz yüze görüşme durumunda elde edilen bilgilerin kayıtları,</li>
<li><strong>»</strong> Kamera kayıtları,sosyal organizasyonlarda, sosyal medya hesaplarında ve basında kullanılan görsel ve işitsel veriler, </li>
<li><strong>»</strong> <strong class="textUnderline">Din ve inanç bilgisi, kılık kıyafet, siyasi görüş, dernek üyelikleri, hobiler vb. kişisel veya özel nitelikli kişisel veriler TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş. tarafından talep edilmemektedir. Kişi tarafından beyan edilen evrak ve dokumanlarda bulunması halinde, herhangi bir değerlendirme ve işleme tabi tutulmayacaktır.</strong></li>

</ul>		
	      <table class="table table-bordered" >
                      
                        <tbody>
                            <tr>
                                <th><strong>Kimlik Verisi</strong></th>
                                <td>Ad, soyadı, TCKN, doğum tarihi</td>
                              
                            </tr>
							  <tr>
                                <th><strong>İletişim Verisi</strong></th>
                                <td>Telefon numarası, işyeri adres bilgisi, e-posta adresi, kurumsal e-posta adresi) </td>
                              
                            </tr>
								  <tr>
                                <th><strong>Eğitim Katılımcısı Verileri</strong></th>
                                <td>Adı Soyadı,Görevi,eposta,Telefon numarası</td>
                              
                            </tr>
							
							  <tr>
                                <th><strong>Çalışma Verisi</strong></th>
                                <td>Çalıştığı şirket, departmanı, çalışma şekli, mesleği, unvanı</td>
                              
                            </tr>
							
							  <tr>
                                <th><strong>Görsel ve İşitsel Veri</strong></th>
                                <td>Şirket yetkilileri ile telefon görüşmesi esnasında alınan ses kayıtları. Telekonferans, görüntülü görüşme gibi araçlarla veya yüz yüze görüşme durumunda elde edilen bilgilerin kayıtları</td>
                              
                            </tr>
                        
                        </tbody>
                    </table>			
		
		
		<p><strong  class="textUnderline" >KİŞİSEL VERİLERİNİN TOPLANMA VE İŞLENME AMAÇLARI;</strong></p>
		
		<p>Tarafımızca hukuka uygun olarak edinilen kişisel verileriniz Şirket’in meşru menfaatleri kapsamında haklarınıza halel getirmeden <strong  class="textUnderline" >Şirketimiz tarafından aşağıda belirtilen amaç ve hukuki sebepler gibi ancak bunlarla sınırlı olmayan benzer amaç ve sebeplerle işlenebilir:</strong></p>
		<ul  class="ulStyls">
<li><strong>»</strong> Muhtemel müşteri ihtiyaçlarının tespit edilmesi ve buna uygun online ve dijital kampanyalar dahil kampanyalar geliştirilmesi</li>
<li><strong>»</strong> Satın alma Tercihleri vegelişen hizmetlerin analizi gibi işlerin yürütümünü sağlayabilmek için iletişime geçilmesi</li>
<li><strong>»</strong> Firma etkinlik daveti gibi toplu e-posta gönderimi ve yürütülmesi</li>
<li><strong>»</strong> Şirket’le sözleşme ilişkisi kurulması amacıyla Şirket veya tedarikçileri vasıtasıyla teklif gönderilmesi, iletişime geçilmesi,ilk satışın yapılması,tele satışı/online satış faaliyetlerinin gerçekleştirilmesi</li>
<li><strong>»</strong> Pazardaki müşteri memnuniyetini arttırabilme,  müşteri  ihtiyacını Anlama ve müşteri ile ilişkili süreçlerinin iyileştirilmesi</li>
<li><strong>»</strong> Müşteri memnuniyeti, şikayet ve uyuşmazlık yönetimi</li>
</ul>
		
	<p><strong  class="textUnderline" >İş Kanunu, İş Sağlığı ve Güvenliği Kanunu, 6698 Sayılı Kişisel Verilerin Korunması Kanunu vb. ilgili mevzuat ile, diğer kanunlar ve mevzuat kapsamında gereklilikleri yerine getirmek amacıyla özellikle;</strong></p>	
		
<ul  class="ulStyls">
<li><strong>»</strong> Tedarikçilerin,anket ve eğitim katılımcılarının da mevzuat, ilgili düzenleyici kurumlar ve diğer otoritelerce öngörülen bilgi saklama, raporlama, bilgilendirme yükümlülüklerine uymasını sağlamak,<li>
</ul>

	<p><strong  class="textUnderline" >Müşteri sözleşmelerinin ifasından doğan yükümlülük nedeniyle özellikle;</strong></p>	
		
<ul  class="ulStyls">
<li><strong>»</strong> Müşteri şikayetlerinin azaltılması, müşteri memnuniyetinin arttırılması, müşteri ihtiyacının anlaşılması ve müşteri ile ilişkili süreçlerin iyileştirilmesinin sağlanması<li>
<li><strong>»</strong> Müşteriye hizmet kalitesinin değerlendirilmesi ve çalışanlara eğitim verilmesi, gibi benzer yasal yükümlülüklerin yerine getirilebilmesi amacı ile,</li>
</ul>

	<p><strong  class="textUnderline" >Şirketin yönetimi, işin yürütülmesi, şirket politikalarının uygulanması amacıyla, özellikle;</strong></p>	
		
<ul  class="ulStyls">
<li><strong>»</strong> Şirket çalışanlarının satış performanslarının takibi ve raporlanması<li>
<li><strong>»</strong> Ürün ve verilen Hizmetle ilgili Kalite kontrolün sağlanması</li>
<li><strong>»</strong> Acil durumlarda ilgili kişilerle iletişim sağlanması</li>
<li><strong>»</strong> Müşteri Memnuniyet anketleri ve analizlerinin yapılmasıgibi benzer yasal yükümlülüklerin yerine getirilebilmesi amacı ile,</li>
</ul>
<p>Kişisel verileriniz, Şirketimizin meşru menfaatleri, Şirketimiz tarafından yürütülen ,Vergi Levhamızda ve Ticaret Sicil Gazetesinde belirtilen ve yukarıdaki başlıklarda örneklediğimizoperasyonel ve ticari faaliyetlerimizin gerçekleştirilmesi ve buna bağlı iş süreçlerinin, müşteri/potansiyel Müşteri ve/veya tedarikçilerimizle olan ilişkilerin yönetimi ve yürütülmesi, Şirketimiz tarafından yürütülen iletişime yönelik idari operasyonlar, etik değerlere ve hukuka uyum ve hukuki iş ve prosedürlerin yürütülmesi, Kurumsal iletişim ve kurumsal yönetim faaliyetlerinin planlanması ve yürütülmesi, bilgi güvenliği yönetimi hizmetlerinin yürütülmesi, Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması,</p>
<p>İlgili mevzuatın gerektirdiği veya zorunlu kıldığı şekilde yasal yükümlülüklerin yerine getirilmesini sağlamak amacıyla; </p>
<p><strong  class="textUnderline" >KVKK’nın 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde ve bu amaçlarla sınırlı olarak toplanmakta ve işlenmektedir.</strong></p>
<p><strong  class="textUnderline" >Kişisel Verilerinizin Yurt İçindeki Üçüncü Kişilerle Paylaşılması</strong></p>
<p>Şirketimizin yasalar gereği yükümlülüklerini ifa etmesi ve sizin de güvenliğinizi sağlayabilmek amacı ile  kişisel verileriniz, 6698 Sayılı Kişisel Verilerin Korunması Kanunu,İş Kanunu, İşçi Sağlığı ve İş Güvenliği Kanunu, Sosyal Sigortalar ve Genel Sağlık Sigortası Kanunu, Türk Ticaret Kanunu, Kimlik Bildirme Kanunu ,İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun, ve fakat bununla sınırlı olmamak üzere sair mevzuat hükümleri izin verdiği ve gerektirdiği ölçüde ilgili kurum veya kuruluşlar; Kişisel Verileri Koruma Kurumu, Maliye Bakanlığı, Gümrük ve Ticaret Bakanlığı, Çalışma ve Sosyal Güvenlik Bakanlığı, Türkiye İş Kurumu , Bilgi Teknolojileri ve İletişim Kurumu gibi kamu tüzel kişileri ile paylaşılabilir. </p>

<p><strong  class="textUnderline" >Ayrıca kişisel verilerinizi;</strong></p>

<ul  class="ulStyls">
<li>İş sözleşmesinin ifası için gerekli amacın yerine getirilmesi,<li>
<li>Hukuki yükümlülüklerimizi yerine getirmek nedeniyle;<li>
<li>Şirket avukatlarımıza ve hukuka ve usule uygun olması koşuluyla mahkeme kararı veya delil talebi gibi hukuki talepleri yerine getirme yükümlülüğümüz çerçevesinde ilgili kurumlarla paylaşılmaktadır.<li>

</ul>

<p>Şirketin idaresi, işin yürütülmesi, şirket politikalarının uygulanması amacıyla,</p>
<p>Veri güvenliğinizin sağlanması için gerektirdiği ölçüde ve bu kullanma  amacı ile sınırlı olmak kaydıyla  yukarıda açıklanan kurum/kuruluşlar başta olmak üzere benzer güvenilir üçüncü kişilere ve/veya kurum ve kuruluşlara ve/veya iş ortaklarımıza ve/veya yurt içinde ve/veya yurt dışındaki hizmet verilen kurumlara  gerekli tüm tedbirler ve (gerekmesi halinde) kişi onayı Şirketimizce alınarak,<strong> <span class="textUnderline">KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilmektedir.</span> Ayrıca, kişisel veriler, yasal bir gereklilik gereği bu verileri talep etmeye ve almaya yetkili olan kamu kurum ve kuruluşları ile de paylaşılabilmektedir.</strong ></p>


<p><strong  >Kişisel Verilerinizin Yurt Dışındaki Üçüncü Kişilerle Paylaşılması</strong></p>
<p>Rıza göstermeniz halinde kişisel verileriniz, <strong  class="textUnderline" >ihracat faaliyetleri,fuar,eğitim,iş gezisi amaçlı yurt dışı seyahatlerinde iletişim sağlanması, seyahat organizasyonunun yapılması ve e-posta gönderimlerinin yapılabilmesi için</strong > yurt dışındaki üçüncü kişilerle paylaşılabilmektedir.</p>
<p><strong  >Kişisel Verilerin Toplanma Yöntemi </strong></p>
<p>Kişisel veriler, şirketimiz tarafından <span class="textUnderline">sözlü, yazılı ve/veya elektronik yollarla toplanmakta, kullanılmakta, kaydedilmekte, depolanmakta ve işlenmektedir.</span></p>

<p><strong  >Kişisel Verilerin Saklanma Süresi, Silinmesi, Yok Edilmesi veya Anonim Hale Getirilmesi </strong></p>
<p>Kişisel verileriniz, ilgili yasal mevzuatlarda belirtilen saklama sürelerince (ilgili yasal mevzuatlarda herhangi bir süre belirlenmemişse, <span class="textUnderline">Şirketimizin uygulamaları ve ticari yaşamının teamülleri uyarınca veya yukarıda anılan işleme amaçlarının gerekli kıldığı süre boyunca) saklanmakta ve sonrasında KVKK’ya uygun olarak silinmekte, yok edilmekte ya da anonim hale getirilmektedir.</span></p>
<p>Kişisel verilerin işlenme amacı sona ermiş, ilgili mevzuat ve Şirketimizin belirlediği saklama sürelerinin de sonuna gelinmişse; kişisel veriler yalnızca olası hukuki uyuşmazlıklarda delil teşkil etmesi veya kişisel veriye bağlı olarak  ilgili kişinin  haklarının korunması veya savunmanın tesis edilmesi amacıyla saklanabilmektedir. Buradaki sürelerin tesisinde, bahsi geçen hakkın ileri sürülebilmesine yönelik zaman aşımı süreleri ile zaman aşımı sürelerinin geçmesine rağmen daha önce aynı konularda Şirketimize yöneltilen taleplerdeki örnekler esas alınarak saklama süreleri belirlenmektedir. </p>
<p>Bu durumda saklanan kişisel verilere herhangi bir başka amaçla erişilmemekte ve ancak ilgili hukuki uyuşmazlıkta kullanılması gerektiği zaman ilgili kişisel verilere erişim sağlanmaktadır. Burada da bahsi geçen süre sona erdikten sonra kişisel veriler silinmekte, yok edilmekte veya anonim hale getirilmektedir.<strong  class="textUnderline" >TEZMAKSAN Kişisel Verilerin Saklanması ve İmhası Politikasında ayrıntılı olarak bu konular incelenmiştir.</strong ></p>
<p><strong >Kişisel Verilerinizin Güvenliği </strong></p>
<p>Kişisel verilerinizin işlendikleri ve saklandıkları ortamlarda yetkisiz erişime maruz kalmamaları, kaybolmamaları ve zarar görmemelerini sağlamak amacıyla, Kişisel Verileri Koruma Kanunu kapsamında, KVKK Kurulu tarafından yayımlanmış Kişisel Verilerin Güvenliğine dair Teknik ve İdari Tedbirlerin gereklilikleri düzenli olarak gözden geçirilmekte ve şirketimiz tarafından bu şartlar sağlanmaktadır.</p>

<p><strong class="textUnderline">Kişisel Veri Sahibi Olarak Haklarınız:	</strong></p>
<p><strong >KVKK’nın 11. maddesi uyarınca herkes, veri sorumlusuna başvurarak kendisiyle ilgili;</strong></p>
<ul  class="ulStyls">
<li><strong>a)</strong> Kişisel veri işlenip işlenmediğini öğrenme,</li>
<li><strong>b)</strong> Kişisel verileri işlenmişse buna ilişkin bilgi talep etme, </li>
<li><strong>c)</strong> Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, </li>
<li><strong>ç)</strong> Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, </li>
<li><strong>d)</strong> Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme, </li>
<li><strong>e)</strong> 7 nci maddede öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme, </li>
<li><strong>f)</strong> (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, </li>
<li><strong>g)</strong> İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme, </li>
<li><strong>ğ)</strong> Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.</li>

</ul>
<p><strong class="textUnderline">Kişisel Veri Sahibinin Hakları İle İlgili Başvuru Yöntemleri</strong></p>
<p>KVKK’nın 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, 10 Mart 2018 tarih ve 30356 Sayılı Resmi Gazete’de yayımlanmış <strong class="textUnderline" >“Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ’ e ”</strong > istinaden aşağıdaki yöntemler ve bilgiler ile gerçekleştirebilirsiniz.</p>

	<p>Yazılı olarak Şirketimize yapılacak başvurular, web sitemizden ulaşabileceğiniz <strong class="textUnderline" ><a target="_blank" href="/content/pdf/kvkk-basvuru-formu.pdf">TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş. KVKK Aydınlatma Başvuru Formu’</a></strong> nun çıktısı alınarak;</p>


	<ul  class="ulStyls">
					<li><strong>»</strong> Başvuru Sahibi’nin şahsen başvurusu ile, </li>
					<li><strong>»</strong> Noter vasıtasıyla, </li>
					<li><strong>»</strong> Başvuru Sahibi’nce 5070 Sayılı Elektronik İmza Kanununda tanımlı olan “güvenli elektronik imza” ile imzalanarak aşağıda verilen elektronik posta adresine gönderilmek suretiyle,tarafımıza iletilebilecektir.</li>
					<li><strong>»</strong> İlgili kişi/Müşteri tarafından veri sorumlusuna daha önce bildirilen ve veri sorumlusunun sisteminde kayıtlı veri sorumlusunun sisteminde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle yapılabilir.</li>
				
					</ul>

<p><strong >AŞAĞIDAKİ TABLODA BAŞVURU USULÜ AÇIKLANMIŞTIR:</strong></p>

  <table class="table table-bordered" style="font-size: 13px;">
                        <thead>
                            <tr>
                                <th>Başvuru Yöntemi</th>
                                <th>Başvurunun Yapılacağı Adres</th>
                                <th>Başvuru Gönderiminde Belirtilecek Bilgi</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Şahsen Başvuru (Başvuru sahibinin bizzat gelerek kimliğini tevsik edici belge ile başvurması)<hr>Noter vasıtasıyla tebligat/Yazılı olarak İadeli Taahhütlü Posta ile Başvuru Usulü ile</td>
                                <td><strong >TEZMAKSAN MAKİNA SANAYİ VE TİCARET ANONİM ŞİRKETİ</strong ><br>
								MERSİS NO:0842002469500011<br>
								Abdi İpekçi Cad. N:129 <br>
								<strong >Bayrampaşa/İSTANBUL</strong >
								</td>
								 <td>Zarfın üzerine “Kişisel Verilerin Korunması Kanunu Kapsamında Bilgi Talebi” yazılacaktır.<hr>Zarfın üzerine “Kişisel Verilerin Korunması Kanunu Kapsamında Bilgi Talebi” yazılacaktır.</td>
                              
                            </tr>
                        
								<tr>
                                <td>“Güvenli elektronik imza” ile imzalanarak Kayıtlı Elektronik Posta (KEP) Yoluyla</td>
                                <td><span class="textUnderline">TEZMAKSAN KEP ADRESİ:</span><br>
								<strong >tezmaksanmakina@hs01.kep.tr</strong >
								</td>
								<td>E-posta’nın konu kısmına “Kişisel Verilerin Korunması Kanunu Bilgi Talebi” yazılacaktır.</td>
                              
                            </tr>
	<tr>
                                <td>İlgili kişi/müşteri tarafından veri sorumlusuna daha önce bildirilen ve <span class="textUnderline">veri sorumlusunun sisteminde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle</span></td>
                                <td><strong class="textUnderline">bilgi@tezmaksan.com.tr</strong>
								
								</td>
								<td>E-posta’nın konu kısmına “Kişisel Verilerin Korunması Kanunu Bilgi Talebi” yazılacaktır.</td>
                              
                            </tr>


                        </tbody>
                    </table>
					<p><strong class="textUnderline" >Tüm başvuru yöntemlerinde ,başvurucuya ait şu bilgiler bulunmalıdır:</strong></p>
					<p>Ad, soyad ve imza,Türkiye Cumhuriyeti vatandaşları için T.C. kimlik numarası, yabancılar için uyruğu, pasaport numarası veya varsa kimlik numarası, Tebligata esas yerleşim yeri veya iş yeri adresi, Varsa bildirime esas elektronik posta adresi, telefon ve faks numarası, Talep konusu.</p>
						
					<p><strong class="textUnderline" >Ad-Soyad-TC :	</strong></p>
					<p><strong class="textUnderline" >İmza :	</strong></p>
