﻿
@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media only screen and (max-width: 770px) {
        .baslik {
            margin-top:40px;
        }
    }
</style>

<!-- Start Section -->

<div class="section section-pad-md section-bg-alt" id="app" style="padding-top:5%">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-10">
                <div class="section-head">
                    <h2 class="section-title animated baslik" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK MOBİL UYGULAMA

                    </h2>

                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-5 ">
                <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="~/images/kapasitematil-mobil-gorsel-ekrani.png" alt="kapasitematik mobil ekran görünümü" title="kapasitematik mobil ekran görünümü">
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-block">
                    <p class="animated" data-animate="fadeInUp" data-delay=".3"> Endüstri 4.0 uygulaması olarak düşünülebilecek bu proje ile uzaktan erişim yaparak makinaların anahtar öneme sahip verileri bir merkezde toplanıyor. Uzaktan izleme sistemi olan 'Kapasitematik' sayesinde CNC kullanıcıları ve işletmeler, mevcut makinalarını her an takip edebiliyor.</p>
                    <ul>
                        <li>Makina Parkuru</li>
                        <li>İşleyen Parça Sayısı</li>
                        <li>Program Numarası</li>
                        <li>Duruş Bildirimleri</li>
                        <li>Toplam Duruş Süresi</li>
                        <li>Makina Performansı</li>
                        <li>Operatör Performansı</li>
                        <li>ERP-MRP Entegrasyonları </li>
                        <li>Operatör Ekranları</li>
                        <li>Anlık Durum Ekranları </li>
                        <li>Çift Yönlü API  ERP-Kapasitematik ⇔ Kapasitematik-ERP</li>
                    </ul>
                    <ul class="btns">
                        <!--<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#intro" class="btn btn-sm">BİLGİ AL</a></li>-->
                        <li class="animated text-center" data-animate="fadeInUp" data-delay=".6">
                            <a href="#"><em class="fab fa-apple"></em></a>
                            <a href="#"><em class="fab fa-android"></em></a>
                            <a href="#"><em class="fab fa-windows"></em></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

