﻿
@{
    ViewBag.Title = "Blog2";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
}


<div class="section section-pad-md section-bg-alt blog-section" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-list">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-0 col-sm-6">
                            <div class="blog-item">
                                <div class="blog-photo"><a href="@Url.Action("BlogPage5","Home")"><img src="~/images/HakanAydgdu.jpg" alt="blog-photo"></a></div>
                                <div class="blog-texts">
                                    <ul class="blog-meta">
                                        <li><a href="#">30 Ekm, 2018</a></li>
                                        <li><a href="#">FinansDevi></li>
                                    </ul>
                                    <h5 class="blog-title"><a href="@Url.Action("BlogPage5","Home")">Şirket karlılıklarını artıran ‘Kapasitematik’e yüzde 50 hibe desteği</a></h5>
                                    <p>Son dönemde döviz kurunda yaşanan dalgalı seyir ve artan enerji maaliyetler...</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6 offset-lg-0 col-sm-6">
                            <div class="blog-item">
                                <div class="blog-photo"><a href="@Url.Action("BlogPage2","Home")"><img src="~/images/kpsapp2.png" height="226 !important" alt="blog-photo"></a></div>
                                <div class="blog-texts">
                                    <ul class="blog-meta">
                                        <li><a href="#">28 Tem, 2017</a></li>
                                        <li><a href="#">Makine Magazin</a></li>
                                    </ul>
                                    <h5 class="blog-title"><a href="@Url.Action("BlogPage2","Home")">Tezmaksan, dijitalleşmeye odaklandı</a></h5>
                                    <p>Tezmaksan, makinaların verimli kullanılabilmesi için yeni bir uygulama geliştirdi.‘Kapasitematik’ isimli...</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6 offset-lg-0 col-sm-6">
                            <div class="blog-item">
                                <div class="blog-photo"><a href="@Url.Action("BlogPage3","Home")"><img src="~/images/istiklalmarsi.jpg" alt="blog-photo"></a></div>
                                <div class="blog-texts">
                                    <ul class="blog-meta">
                                        <li><a href="#">16 Ekm, 2018</a></li>
                                        <li><a href="#">Haber Türk</a></li>
                                    </ul>
                                    <h5 class="blog-title"><a href="@Url.Action("BlogPage3","Home")">Makineler İstiklal Marşı'nı söyledi!</a></h5>
                                    <p>Tezmaksan Makina’nın Türk mühendisler tarafından geliştirilen Kapasitematik Yazılımı...</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6 offset-lg-0 col-sm-6">
                            <div class="blog-item">
                                <div class="blog-photo"><a href="@Url.Action("BlogPage","Home")"><img src="~/images/robot.jpeg" alt="blog-photo"></a></div>
                                <div class="blog-texts">
                                    <ul class="blog-meta">
                                        <li><a href="#">12 Mar, 2018</a></li>
                                        <li><a href="#">Blockchain</a></li>
                                    </ul>
                                    <h5 class="blog-title"><a href="@Url.Action("BlogPage","Home")">Endüstri 4.0’da KOBİ başarısı</a></h5>
                                    <p>Küresel rekabetin yeni oyun sahası Endüstri 4.0’a Türk iş dünyası...</p>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .news-list -->
                <div class="row res-m-bttm">
                    <div class="col-md-12 text-center">
                        <ul class="page-pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><em class="ti ti-arrow-right"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .col -->
            <div class="col-lg-4">

                <div class="sidebar-section">
                    @*<div class="sidebar-widget search">
            <form action="#" class="search-form">
                <input type="text" name="SearchString" placeholder="Search Keyword" value="Filter">
                <button><em class="ti ti-search"></em></button>
            </form>
        </div>*@<!-- .sidebar-widget -->
                    <div class="sidebar-widget category">
                        <h5 class="sidebar-widget-title">Kategoriler</h5>
                        <ul>
                            <li><a href="@Url.Action("BlogPage2","Home")">Dijitalleşme</a></li>
                            <li><a href="@Url.Action("BlogPage4","Home")">KOSGEB</a></li>
                            <li><a href="@Url.Action("BlogPage4","Home")">Robot</a></li>
                            <li><a href="@Url.Action("BlogPage","Home")">Endüstri 4.0</a></li>
                            <li><a href="@Url.Action("BlogPage3","Home")">Teknoloji</a></li>
                            <li><a href="@Url.Action("BlogPage","Home")">Yapay Zeka</a></li>
                        </ul>
                    </div>
                    <div>
                        <div class="row" style="height:150px;">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                <!-- .sidebar-widget -->
                    @*<div class="sidebar-widget tags">
                        <h5 class="sidebar-widget-title">Tags</h5>
                        <ul>
                            <li><a href="#">kapasitematik</a></li>
                            <li><a href="#">endüstri 4.0</a></li>
                            <li><a href="#">üretim</a></li>
                            <li><a href="#">teknoloji</a></li>
                        </ul>
                    </div>*@
                <!-- .sidebar-widget -->
                    @*<div class="sidebar-widget archive">
            <h5 class="sidebar-widget-title">Archive</h5>
            <select name="post-archive" id="post-archive">
                <option value="Select Month">Select Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
            </select>
        </div>*@<!-- .sidebar-widget -->

                    <div class="sidebar-widget cta-widget text-center">
                        <h5 class="cta-head">Size Nasıl Yardımcı Olabilirim?</h5>
                        <p>Yardıma ihtiyacınız varsa veya herhangi bir sorunuz olursa destek ekibimize başvurun?</p>
                        <a href="#" class="btn btn-plane btn-alt">(0212) 674 60 10</a>
                    </div><!-- .sidebar-widget -->

                </div><!-- .sidebar-section -->

            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- Start Section -->
<!-- Start Section -->



