﻿
@{
    ViewBag.Title = "BlogPage4";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
}

<div class="section section-pad-md section-bg-alt blog-section" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-content">
                    <div class="blog-photo">
                        <img src="~/images/robot.jpeg" alt="blog-large">
                    </div>
                    <ul class="blog-meta">
                        <li><span>Gönderen</span><a href="#">24 Ock, 2017</a></li>
                        <li><span></span><a href="#">Robot</a></li>
                        <li><span></span><a href="#">Sabah Gazetesi</a></li>
                    </ul>
                    <h3 class="blog-title"><a href="blog-single-azure.html">Endüstri 4.0’da KOBİ başarısı</a></h3>
                    <p>Küresel rekabetin yeni oyun sahası Endüstri 4.0’a Türk iş dünyası hızlı ayak uydurdu. Makineleri birbiriyle konuşturmayı başaran KOBİ patronları, çevik yapıları sayesinde önemli buluşlara imza atıyor.</p>
                    <p>Dünya ekonomilerini yeniden dizayn etmesi beklenen Dördüncü Sanayi Devrimi, nam-ı diğer Endüstri 4.0'da küresel rekabet gün geçtikçe hareketleniyor. Robotların birbiriyle konuşarak üretim yapmasını esas alan yeni modele Türk iş dünyası da hızla ayak uydurmaya, hatta bu alanda geliştirdikleri teknolojileri ihraç etmeye başladı.</p>
                    <p>Zira uzmanlara göre pratik zekânın öne çıktığı yeni dönem Türk iş dünyasının zihin haritasına en uygun dönem olacak. Özellikle Sivas, Konya, Tekirdağ ve Bursa gibi illerde yenilikçi ürün patlaması yaşanıyor. Endüstri 4.0, üretimde verimliliği, zamanı ve maliyeti en iyi şekilde kullanılmayı odak noktaya koyuyor. Örneğin; Endüstri 4.0'da artık sadece robot yok, düşünen robot, inisiyatif kullanan robot var. Örneğin robotun bir yeri aksıyorsa, görevini entegre olduğu diğer robota devredecek. Gerekirse robot kendi sorununu kendisi tamir edecek.</p>
                    <h5 class="blog-title"><a href="blog-single-azure.html">Yazılımlar Türkiye'den</a></h5>
                    <p>Bu alanda başarılı örneklerden biri Sivas'tan geldi. Makine imalatçısı Tezmaksan ile otomotiv tedarik sektöründen ESTAŞ, endüstri 4.0 devriminin ilk somut adımını attı. Türk mühendisler tarafından geliştirilen bir yazılım ile sanayi üretimi yapan makineler kablosuz birbirleriyle haberleşmeye başladı.</p>
                    <p>Tezmaksan, ESTAŞ'ta bulunan iki adet Supertech G25P-50 taşlama tezgahını bir adet Fanuc Robotu ile entegre etmeyi başardı. Böylece ESTAŞ'ta, insansız üretim modeline sağlam bir adım daha atıldı.</p>
                    <p>Tezmaksan Makine Genel Müdürü Hakan Aydoğdu "Biz Türkiye'de ilk kez, Türk mühendislerimizle birlikte makineleri sanal haberleştirdik. Bunu kendi yazılımımızla gerçekleştirdik. Normal şartlarda bu haberleşme kablolar ile yapılıyordu. Bunu Wi-Fi ile gerçekleştirmeyi başardık. Makineleri konuşturarak maliyetler ciddi şekilde düşürdük" dedi. ESTAŞ Genel Müdürü Osman Mavuş ise "Robot otomasyonu sayesinde firmamız, planlamış olduğu parça adedini, belirlediği süre içerisinde tedarikçisine sağlayabiliyor. Bu sistemle, üç vardiyada kesintisiz üretim imkanına kavuştuk" diye konuştu.</p>
                    <h5 class="blog-title"><a href="blog-single-azure.html">Fabrikalar Cep'e Girdi</a></h5>
                    <p>Tezmaksan'ın başarıları bununla da sınırlı değil. Firma, geliştirdiği bir yazılım ile makinelerin hem ömrünü hem de verimliliğini artırdı. Türk mühendisleri tarafından oluşturulan ve 'Kapasitematik' adını taşıyan sistem, firmaların makineleri uzaktan takip ederek anlık çalışma verilerini ve tarihsel istatistiksel verimlilik analizlerini kullanıcı ve işletme sahiplerine sunuyor.</p>
                    <ul class="blog-tags">
                        <li><a href="#">kapasitematik</a></li>
                        <li><a href="#">Endüstri 4.0</a></li>
                        <li><a href="#">üretim</a></li>
                        <li><a href="#">Teknoloji</a></li>
                    </ul>

                    @*<div class="comment-section">
            <h5>3 Comments</h5>
            <ol class="comment-list">
                <li class="comment-item">
                    <div class="d-flex">
                        <div class="comment-photo">
                            <img src="~/images/team-a-sq.jpg" alt="commenter">
                        </div>
                        <div class="comment-content">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6>Eric Reyes</h6>
                                    <div class="comment-time">May 22, 2018 at 7:49 am</div>
                                </div>
                                <div class="ml-auto">
                                    <a href="#" class="comment-reply"><em class="fa fa-retweet"></em>Reply</a>
                                </div>
                            </div>
                            <p>Blockchain Meets Energy Surplus of elec trical energy is some times ut perspi ciatis unde omnis iste naat vero eos et accu samus et iusto odio dignis simos.</p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="d-flex">
                            <div class="comment-photo">
                                <img src="~/images/team-c-sq.jpg" alt="commenter">
                            </div>
                            <div class="comment-content">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h6>Eric Reyes</h6>
                                        <div class="comment-time">May 22, 2018 at 7:49 am</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="#" class="comment-reply"><em class="fa fa-retweet"></em>Reply</a>
                                    </div>
                                </div>
                                <p>Blockchain Meets Energy Surplus of elec trical energy is some times ut perspi ciatis unde omnis iste naat vero eos et accu samus et iusto odio dignis simos.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="comment-item">
                    <div class="d-flex">
                        <div class="comment-photo">
                            <img src="~/images/team-c-sq.jpg" alt="commenter">
                        </div>
                        <div class="comment-content">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6>Eric Reyes</h6>
                                    <div class="comment-time">May 22, 2018 at 7:49 am</div>
                                </div>
                                <div class="ml-auto">
                                    <a href="#" class="comment-reply"><em class="fa fa-retweet"></em>Reply</a>
                                </div>
                            </div>
                            <p>Blockchain Meets Energy Surplus of elec trical energy is some times ut perspi ciatis unde omnis iste naat vero eos et accu samus et iusto odio dignis simos.</p>
                        </div>
                    </div>
                </li>
            </ol>
            <h5>Leave A Comment</h5>
            <form id="contact-form" class="form-message text-left" action="form/contact.php" method="post">
                <div class="form-results"></div>
                <div class="input-field">
                    <input name="contact-name" type="text" class="input-line required">
                    <label class="input-title">Your Name</label>
                </div>
                <div class="input-field">
                    <input name="contact-email" type="email" class="input-line required email">
                    <label class="input-title">Your Email</label>
                </div>
                <div class="input-field">
                    <textarea name="contact-message" class="txtarea input-line required"></textarea>
                    <label class="input-title">Your Comment</label>
                </div>
                <input type="text" class="d-none" name="form-anti-honeypot" value="">
                <div class="input-field">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>

        </div>*@
                </div>

            </div><!-- .col -->
            <div class="col-lg-4">

                <div class="sidebar-section">
                    @*<div class="sidebar-widget search">
            <form action="#" class="search-form">
                <input type="text" placeholder="Kelime ile ara">
                <button><em class="ti ti-search"></em></button>
            </form>
        </div>*@

                    <!-- .sidebar-widget -->
                    <div class="sidebar-widget category">
                        <h5 class="sidebar-widget-title">Kategoriler</h5>
                        <ul>
                            <li><a href="@Url.Action("BlogPage2","Home")">Dijitalleşme</a></li>
                            <li><a href="@Url.Action("BlogPage4","Home")">KOSGEB</a></li>
                            <li class="active"><a href="@Url.Action("BlogPage4","Home")">Robot</a></li>
                            <li><a href="@Url.Action("BlogPage","Home")">Endüstri 4.0</a></li>
                            <li><a href="@Url.Action("BlogPage3","Home")">Teknoloji</a></li>
                            <li><a href="@Url.Action("BlogPage","Home")">Yapay Zeka</a></li>
                        </ul>
                    </div>
                    <div>
                        <div class="row" style="height:150px;">
                            <div class="col-12">

                            </div>
                        </div>
                    </div><!-- .sidebar-widget -->
                    @*<div class="sidebar-widget tags">
            <h5 class="sidebar-widget-title">Tags</h5>
            <ul>
                <li><a href="#">ethereum</a></li>
                <li><a href="#">bitcoin</a></li>
                <li><a href="#">released</a></li>
                <li><a href="#">tokens</a></li>
            </ul>
        </div>*@
                    <!-- .sidebar-widget -->
                    @*<div class="sidebar-widget archive">
            <h5 class="sidebar-widget-title">Archive</h5>
            <select name="post-archive" id="post-archive">
                <option value="Select Month">Select Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
            </select>
        </div>*@<!-- .sidebar-widget -->
                    @*<div class="sidebar-widget">
            <div class="blog-photo"><a href="@Url.Action("BlogPage4","Home")"><img src="~/images/kps2.JPG" alt="blog-photo"></a></div>
            <a href="#" class="btn btn-plane btn-alt text-center">Katalog için Tıklayınız</a>
        </div>*@

                    <!-- .sidebar-widget -->

                </div><!-- .sidebar-section -->

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- Start Section -->
<!-- Start Section -->

