﻿
@{
    ViewBag.Title = "BlogPage";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
}

<div class="section section-pad-md section-bg-alt blog-section" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-content">
                    <div class="blog-photo">
                        <img src="~/images/hakanayd.jpg" alt="blog-large">
                    </div>
                    <ul class="blog-meta">
                        <li><span>Gönderen</span><a href="#">25 Ekm, 2018</a></li>
                        <li><span></span><a href="#">Dijitalleşme</a></li>
                        <li><span></span><a href="#">Kapasitematik</a></li>
                    </ul>
                    <h3 class="blog-title"><a href="blog-single-azure.html">60 bin makineye yapay zekâ ekleyecek</a></h3>
                    <p>Dünyada sanayi artık dijitalleşiyor. Avrupa'da başlayan Sanayi Devrimi Endüstri 4.0, hızla tüm dünyaya yayılmaya başladı. Büyümek ve dünya sahnesinde yer almak isteyen ülkeler bu devrimi kaçırmak istemiyor. Türkiye'de üretim yapan şirketler ve hükümet de sanayi alanında bir çığır açan Endüstri 4.0'ı bir sıçrama tahtası olarak görüyor.</p>
                    <p>Endüstri 4.0, üretimde verimliliği, zamanı ve maliyeti en iyi şekilde kullanılmayı odak noktaya koyuyor. Örneğin; Endüstri 4.0'da artık sadece robot yok, düşünen robot, inisiyatif kullanan robot var.</p>
                    <p>Endüstri 4.0'ı yakalayan Türk şirketleri de mevcut. Temelleri 1981 yılında atılan ve Türk makine sektörünün pazar lideri Tezmaksan, bu konuda ciddi çalışmalara imza atıyor. Şirketin geliştirdiği teknolojiler sayesinde bugün Türkiye'de 60 bine yakın internetsiz ve eski makineleri de yapay zeka ile güçlendirmek mümkün hale geldi.</p>
                    <p>Tezmaksan'ın Türk mühendisler tarafından geliştirdiği ve tamamen yerli yazılım olan 'Kapasitematik' sektörde adeta bir çığır açtı. Kapasitematik ile işletme sahipleri internet olan her ortamdan makinelerini takip edebiliyor. </p>
                    <p>"Makine verimli çalışıyor mu? Ne zaman arıza verdi? Operatör tarafından doğru program kullanılıyor mu" gibi bilgiler, anında tablet veya cep telefonundan kontrol edilebilecek. Bu sayede işletmeler hem zamandan hem maliyetten ciddi tasarruf ediyor. Bu sistem ile şirketlerin maaliyetleri ortalama yüzde 20 düşerken, üretim kapasiteleri de yüzde 15 civarında artış gösteriyor.</p>
                    <ul class="blog-tags">
                        <li><a href="#">kapasitematik</a></li>
                        <li><a href="#">Endüstri 4.0</a></li>
                        <li><a href="#">üretim</a></li>
                        <li><a href="#">Teknoloji</a></li>
                    </ul>

                    @*<div class="comment-section">
                        <h5>3 Comments</h5>
                        <ol class="comment-list">
                            <li class="comment-item">
                                <div class="d-flex">
                                    <div class="comment-photo">
                                        <img src="~/images/team-a-sq.jpg" alt="commenter">
                                    </div>
                                    <div class="comment-content">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6>Eric Reyes</h6>
                                                <div class="comment-time">May 22, 2018 at 7:49 am</div>
                                            </div>
                                            <div class="ml-auto">
                                                <a href="#" class="comment-reply"><em class="fa fa-retweet"></em>Reply</a>
                                            </div>
                                        </div>
                                        <p>Blockchain Meets Energy Surplus of elec trical energy is some times ut perspi ciatis unde omnis iste naat vero eos et accu samus et iusto odio dignis simos.</p>
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="d-flex">
                                        <div class="comment-photo">
                                            <img src="~/images/team-c-sq.jpg" alt="commenter">
                                        </div>
                                        <div class="comment-content">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <h6>Eric Reyes</h6>
                                                    <div class="comment-time">May 22, 2018 at 7:49 am</div>
                                                </div>
                                                <div class="ml-auto">
                                                    <a href="#" class="comment-reply"><em class="fa fa-retweet"></em>Reply</a>
                                                </div>
                                            </div>
                                            <p>Blockchain Meets Energy Surplus of elec trical energy is some times ut perspi ciatis unde omnis iste naat vero eos et accu samus et iusto odio dignis simos.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment-item">
                                <div class="d-flex">
                                    <div class="comment-photo">
                                        <img src="~/images/team-c-sq.jpg" alt="commenter">
                                    </div>
                                    <div class="comment-content">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6>Eric Reyes</h6>
                                                <div class="comment-time">May 22, 2018 at 7:49 am</div>
                                            </div>
                                            <div class="ml-auto">
                                                <a href="#" class="comment-reply"><em class="fa fa-retweet"></em>Reply</a>
                                            </div>
                                        </div>
                                        <p>Blockchain Meets Energy Surplus of elec trical energy is some times ut perspi ciatis unde omnis iste naat vero eos et accu samus et iusto odio dignis simos.</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <h5>Leave A Comment</h5>
                        <form id="contact-form" class="form-message text-left" action="form/contact.php" method="post">
                            <div class="form-results"></div>
                            <div class="input-field">
                                <input name="contact-name" type="text" class="input-line required">
                                <label class="input-title">Your Name</label>
                            </div>
                            <div class="input-field">
                                <input name="contact-email" type="email" class="input-line required email">
                                <label class="input-title">Your Email</label>
                            </div>
                            <div class="input-field">
                                <textarea name="contact-message" class="txtarea input-line required"></textarea>
                                <label class="input-title">Your Comment</label>
                            </div>
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                            <div class="input-field">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </form>

                    </div>*@
                </div>

            </div><!-- .col -->
            <div class="col-lg-4">

                <div class="sidebar-section">
                    @*<div class="sidebar-widget search">
            <form action="#" class="search-form">
                <input type="text" placeholder="Search Keyword">
                <button><em class="ti ti-search"></em></button>
            </form>
        </div>*@
                    <!-- .sidebar-widget -->
                    <div class="sidebar-widget category">
                        <h5 class="sidebar-widget-title">Kategoriler</h5>
                        <ul>
                            <li><a href="@Url.Action("BlogPage2","Home")">Dijitalleşme</a></li>
                            <li><a href="@Url.Action("BlogPage4","Home")">KOSGEB</a></li>
                            <li><a href="@Url.Action("BlogPage4","Home")">Robot</a></li>
                            <li><a href="@Url.Action("BlogPage","Home")">Endüstri 4.0</a></li>
                            <li><a href="@Url.Action("BlogPage3","Home")">Teknoloji</a></li>
                            <li class="active"><a href="@Url.Action("BlogPage","Home")">Yapay Zeka</a></li>
                        </ul>
                    </div>
                    <div>
                        <div class="row" style="height:150px;">
                            <div class="col-12">

                            </div>
                        </div>
                    </div><!-- .sidebar-widget -->
                    @*<div class="sidebar-widget tags">
            <h5 class="sidebar-widget-title">Tags</h5>
            <ul>
                <li><a href="#">ethereum</a></li>
                <li><a href="#">bitcoin</a></li>
                <li><a href="#">released</a></li>
                <li><a href="#">tokens</a></li>
            </ul>
        </div>*@
                    <!-- .sidebar-widget -->
                    @*<div class="sidebar-widget archive">
            <h5 class="sidebar-widget-title">Archive</h5>
            <select name="post-archive" id="post-archive">
                <option value="Select Month">Select Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
            </select>
        </div>*@<!-- .sidebar-widget -->

                   <!-- .sidebar-widget -->

                </div><!-- .sidebar-section -->

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>
<!-- Start Section -->
<!-- Start Section -->

