﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Section -->
<div class="section section-pad section-bg" id="contact"  style="padding-top:5%">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        BİZİMLE İLETİŞİME GEÇİN

                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Sorunuz mu var ? Bize yazın, En kısa sürede size dönüş yapacağız.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <ul class="contact-info">
                    <li class="animated" data-animate="fadeInUp" data-delay=".2"><em class="fa fa-phone"></em><span>0212 674 60 10 </span></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".3"><em class="fa fa-envelope"></em><span>kapasitematik@tezmaksan.com</span></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".4"><em class="fa fa-paper-plane"></em><span><a href="https://goo.gl/maps/P823Fpg1eSA2">Bizi bulun</a></span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                @using (Html.BeginForm("Contact", "Home", new { language = "tr" }, FormMethod.Post, new { @class = "well form-horizontal" }))
                {
                    @Html.AntiForgeryToken()


                    <div id="contact-form" class="form-message text-center">
                        <div class="form-results"></div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                            <input name="Name" id="Name" type="text" class="input-line required" maxlength="100" required>
                            <label class="input-title">İsim</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                            <input name="Email" id="Email" type="Email" class="input-line required email" maxlength="150" required>
                            <label class="input-title">e-Posta Adresi</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                            <textarea name="Message" id="Message" class="txtarea input-line required" maxlength="500" required></textarea>
                            <label class="input-title">Mesaj</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                            <small>
                                <input type="hidden" name="kvkk_itsm_rslr" id="kvkk_itsm_rslr" value="false" />
                                <input name="Kvkk_Onay" id="Kvkk" type="checkbox" class="email kvkkonay_iltsim">  Kişisel Verilerin Korunması amacıyla <a href="/aydinlatma-beyani" target="_blank">Aydınlatma Beyanını</a> okudum.
                            </small>

                            <label class=""></label>

                        </div>
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <div class="input-field" data-animate="fadeInUp" data-delay=".6">
                            <div class="g-recaptcha" data-sitekey="6LfM-IMUAAAAABEx0l-Q4Ar6bc7EZsHqNIlZmFop"></div>
                        </div>

                        <div class="input-field">
                            <button type="submit" class="btn btn-plane iltsm_gndr" id="concButon ">Gönder</button>
                        </div>


                    </div>

                }




            </div>
        </div>

    </div>
</div>
<!-- End Section -->
