﻿@model KPSTMTK.Models.Demo
@{
    ViewBag.Title = "Kapasitematik | Gerçek-Zamanlı Veri Analizi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        @@media only screen and (max-width: 770px) {
            .baslikCss {
                padding-top: 8px;
            }
        }
    </style>
<!-- Banner/Slider -->
<div id="header" class="banner banner-curb banner-full d-flex align-items-center">
    <div class="container">
        <div class="banner-content" style="padding-top: 12%;">
            <div class="row justify-content-center align-items-center text-center">
                <!-- .col  -->
                <div class="col-lg-12">
                    <div class="header-txt">
                        <h3 class="" data-animate="fadeInUp" data-delay="1.55">KAPASİTEMATİK İLE MAKİNALARINIZIN ÖMRÜNÜ VE VERİMLİLİĞİNİ ARTTIRIYORUZ</h3>

                        <p class="" data-animate="fadeInUp" data-delay="1">Tezmaksan Makina AR-GE ekibinin geliştirdiği yazılım programı Kapasitematik ile işletme sahipleri internet olan her ortamdan makinalarını takip edebilecek. Makina verimli çalışıyor mu? Ne zaman arıza verdi? Operatör tarafından doğru program kullanılıyor mu? gibi bilgiler, anında tablet veya cep telefonundan kontrol edilebilecek. Bu sayede işletmeler hem zamandan hem maliyetten önemli ölçüde tasarruf edecek.</p>
                        <p class="lead baslikCss " style="font-size:27px" data-animate="fadeInUp" data-delay="1.55">MALİYETLERİNİZ DÜŞECEK, KARLILIĞINIZ ARTACAK</p>
                        <p class="" data-animate="fadeInUp" data-delay="1">Endüstri 4.0 dahilinde düşünülebilecek bu proje ile uzaktan erişim yaparak makinaların anahtar öneme sahip verileri bir merkezde toplanıyor ve bu veriler rapora dönüştürülüyor. Uzaktan izleme ve verimlilik raporlama sistemi olan 'Kapasitematik' sayesinde CNC kullanıcıları ve işletmeler, mevcut makinalarını ölçebiliyor ve tarihsel trend analizlerini görebiliyor. Normal şartlarda bir işletme için hem maliyet hem de zaman açısından sorun olabilecek bu tür bir çalışmayı Kapasitematik ile tek bir tuşla tamamlamak ve takip etmek mümkün.</p>
                        <div class="col-lg-8 offset-md-2">
                            <div class="header-image-lobelia animated" data-animate="fadeInUp" data-delay="1.55">
                                <img src="~/images/kapasitematik-anasayfa-gorsel.png" width="820" height="526" alt="kapasitematik-makine-verimliliği">
                            </div>
                        </div>

                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .banner-content  -->
    </div><!-- .container  -->
</div>
<!-- End Banner/Slider -->
<!-- Start Section -->
@*<div class="section section-pad section-bg-alt" id="intro">*@

<div class="section section-pad section-bg-alt">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 res-m-bttm animated" data-animate="fadeInUp" data-delay=".1">
                <div class="video-box-s2">
                    <img src="~/images/header-image-light.png" alt="cover">
                    <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                        <em class="play-icon"><span></span></em>
                    </a>
                </div>
            </div><!-- .col  -->
            <div class="col-lg-6">
                <div class="text-block">
                    <h1 class="animated" data-animate="fadeInUp" data-delay=".2">Kapasitematik Nedir? </h1>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".3">
                        Makina verimliliğini uluslar arası standart ölçümleri ile  anlık  olarak analiz edebilen ve hatasız üretim çözümlerini   Endüstri 4.0  doğrultusunda   uzaktan erişimler ile raporlama analizini yaparak şirketlerin üretim maliyetlerini düşüren  bir sistemdir.

                    </p>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .conatiner  -->
</div>
<!-- Start Section -->
@*<div class="section section-pad section-bg-alt" id="why">
        <div class="container">
            @*<div class="row text-center">
                <div class="col-md-8 offset-md-2">
                    <div class="section-head">
                        <h2 class="section-title animated fadeInUp" data-animate="fadeInUp" data-delay="0" style="visibility: visible;">
                            HAKKIMIZDA
                            <span>VİZYONUMUZ</span>
                        </h2>
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">
                            Tezmaksan Makina AR-GE ekibinin geliştirdiği yazılım programı Kapasitematik ile işletme sahipleri internet olan her ortamdan makinelerini takip edebilecek. Makina verimli çalışıyor mu? Ne zaman arıza verdi? Operatör tarafından doğru program kullanılıyor mu? gibi bilgiler, anında tablet veya cep telefonundan kontrol edilebilecek. Bu sayede işletmeler hem zamandan hem maliyetten ciddi tasarruf edecek.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">


                <div class="col-lg-12">
                    <div class="text-block">

                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->

        </div><!-- .container  -->
    </div>*@



<!-- Start Section -->
<div class="section section-pad section-bg" id="why">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        NEDEN KAPASİTEMATİK?
                        <!--<span>NEDİR</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Endüstri 4.0 uygulaması olarak düşünülebilecek bu proje ile uzaktan erişim yaparak makinaların anahtar öneme sahip verileri bir merkezde toplanıyor ve bu veriler rapora dönüştürülüyor.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <ul class="features-list-s2">
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Planlı&Plansız Duruş Takibi" title="Planlı&Plansız Duruş Takibi">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Planlı&Plansız Duruş Takibi</h5>
                            <p>Makinanızın ne zaman durduğunu bu duruşun Planlı mı? Plansız mı ? olduğunu detay raporda size sunar.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Üretim Takibi" title="Üretim Takibi">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Üretim Takibi</h5>
                            <p>Makinaların ürettiği parçaları takip edebilir. Bu sayede verimlilik oranlarını raporlayabilirsiniz.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Verimlilik Takibi" title="Verimlilik Takibi">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Verimlilik Takibi</h5>
                            <p>Cnc Makinalardan çalışma hızı, üretim adetleri ve operasyon süreleri gibi bilgileri anlık olarak okur ve verimlilik hesabını yapar.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Anlık olarak Ekranların görüldüğü ve detaylarının olduğu  Mobile Aplikasyon" title="Anlık olarak Ekranların görüldüğü ve detaylarının olduğu  Mobile Aplikasyon">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Anlık olarak ekranların görüldüğü ve detaylarının olduğu  Mobile Aplikasyon</h5>
                            <p>Kullanıcı Dostu ve Firma ihtiyaçlarının doğrudan sağlayan Firma bilgilerini Anlık durum ekranları ile  gösterildiği  Mobile uygulama ile her yerden kontrol </p>
                        </div>
                    </li>


                </ul>
            </div><!-- .col  -->

            <div class="col-md-6">
                <ul class="features-list-s2">

                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Çift Yönlü API  ERP-Kapasitematik ⇔ Kapasitematik-ERP" title="Çift Yönlü API  ERP-Kapasitematik ⇔ Kapasitematik-ERP">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Çift Yönlü API  ERP-Kapasitematik ⇔ Kapasitematik-ERP</h5>
                            <p>Erp,Mrp Bağlatınları ve cift yönlü API ile Kapasitematik’den Erp’e ERP’den Kapasitematik’e anlık veri akışı ile İş emirleri ile planlamaların kontrol edilmesi</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="ERP-MRP Entegrasyonları" title="ERP-MRP Entegrasyonları">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">ERP-MRP Entegrasyonları </h5>
                            <p>Kendi içerisinde olan Micro ERP ile ERP Yönetimi Olmayan firmalarda ERP hizmetinin sağlanması ve Kapasitematik üretim verileri ile doğrudan erişim.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Operatör Ekranları" title="Operatör Ekranları">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Operatör Ekranları</h5>
                            <p>Operatöre özel ve dinamik bir şekilde makinelerin kullanıcı  seçildiği Operatör ekranları ile anlık üretim verileri ve Makinelere özel OEE analitiklerinin gösterimi</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Anlık Durum Ekranları" title="Anlık Durum Ekranları">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Anlık Durum Ekranları </h5>
                            <p>Makine varlıklarınızı yönetin ve gerçek zamanlı ekipman durumunu ve koşullarını görüntüleyin</p>
                        </div>
                    </li>


                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="bilgi">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 ">
                <div class="section-head" style="padding-bottom:55px;">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        MAKİNENİZİ NE KADAR VERİMLİ KULLANIYORSUNUZ?

                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">
                        Kapasitematik ile sadece makinanın değil, operatörün takibi de yapılabiliyor. <br />Operatör makinayı doğru kullanıyor mu? Makinayı zorluyor mu?   Doğru takım kullanıyor mu? Hangi programı seçmiş? Kaç adet üretim yaptı?<br /> Tüm bunlar, tablet, bilgisayar veya cep telefonu üzerinden takip edilebiliyor. makinanın doğru ve verimli şekilde kullanılmasına olanak sağlıyor Kapasitematik. Bu sayede işletmelerin karlılığı artıyor.
                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="res-m-btm imgfix animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="~/images/website verimlilikCHANGE.png" alt="graph">
                </div>
            </div><!-- .col  -->

            <div class="col-lg-6 order-last order-lg-first">
                <div class="text-block">
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                        Kapasitematik ile makinanın çalışmaya ne zaman başladığı, arıza durumları, makinanın ne kadar verimli kullanıldığı gibi bilgilere internet üzerinden anında ulaşabiliyorsunuz.


                    </p>
                    <ol>
                        <li class="animated" data-animate="fadeInUp" data-delay=".4">Gerçek zamanlı üretim takibi sağlar.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".5">Planlı – plansız tüm duruşların takibi sağlanır.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".6">Kapasite Yönetimi: Kapasitenin eksikliklerinin tespit edilmesini sağlar.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".7">İyileştirme yapılaması gereken noktalara odaklanmanızı sağlar.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".8">Üretim adetleri, Planlı/Plansız duruş süreleri ve oranları, Takım ömrü yönetimi, Hazır bulunabilirlik, Arıza Makina Dağılımı, Makina Performanslarınızı hesaplar ve raporlar. </li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".9">Üretim verilerini arşivleyerek, izlenebilirliğini sağlar. </li>
                    </ol>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->

    </div><!-- .container  -->
</div>
<!-- Start Section -->
@*<div class="section section-pad section-bg">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 offset-md-1">
                    <div class="section-head">
                        <h2 class="section-title animated fadeInUp" data-animate="fadeInUp" data-delay="0" style="visibility: visible;">
                            KAPASİTEMATİK İLE VERİMLİLİĞİNİZİ ARTTIRIN
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">

                <div class="col-md-12">
                    <ul class="features-list-s2">
                        <li class="d-flex animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s; padding-bottom: 10px;">

                            <div class="features-texts-s2">

                                <p>ERP ve MES ile entegre olan gerçek zamanlı üretim verileri, çalışanların üretim hedeflerini karşılamalarını sağlayan özelleştirilebilir panolarla görselleştirilir. İş ve operatör performansı, OEE, döngü analizi, makine kullanımı ve üretim tarihi yöneticilerinin daha bilgili ve kendinden emin kararlar almasını sağlayan arıza geçmişi gibi çok sayıda raporun sağladığı darboğazları kullanarak sorunları tespit edin. Görünürlükteki bu artış, üreticilerin daha az kaynağa sahip daha fazla makine kullanmalarını sağlar, çalışma süresini ve üretimi ortalama olarak% 20'den fazla artırır.</p>
                            </div>
                        </li>
                        <li class="d-flex animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;padding-bottom: 10px;">

                            <div class="features-texts-s2">

                                <p>Şifrelenmiş veriler, görselleştirmeleri ve analizleri sağlamak için verilerin yapılandırıldığı ve toplandığı güvenli Kapasitematik sunucularına aktarılır. Tarihsel ve gerçek zamanlı verilere erişim açık API'ler üzerinden yapılabilir. Bu API'ler ile gerçek zamanlı panolar, geçmiş analizi ve diğer sistemlerle entegrasyonlar oluşturulabilir.</p>
                            </div>
                        </li>
                        <li class="d-flex animated fadeInUp" data-animate="fadeInUp" data-delay=".5" style="visibility: visible; animation-delay: 0.5s;padding-bottom: 10px;">

                            <div class="features-texts-s2">

                                <p>Kapasitematik, üretim işlemlerinde üretimi izlemek ve CNC Tezgahları kullanan üreticilerin sağlığını izlemek için platform üzerine inşa edilmiş kullanıma hazır uygulamaları içerir. Yetenekler arasında ERP Entegrasyonu, İş / Parça Takibi, Kapalı Kalma Takibi, Operatör Bilgileri bulunmaktadır.</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>

*@


<div class="section section-pad section-bg" id="report">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK RAPORLAMA
                        <!--<span>RAPORLAMA</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1"> Kapasitematik projesi için özel geliştirilen raporlama aracı sayesinde fabrikanızın günlük OEE analizini çıkartabilir haftalık ve aylık raporlara ulaşabilir verimlilik analizini çıkartabilirsiniz.<br />Raporlama Analiziyle belirlediğiniz tarihler skalasında geriye dönük makina performansını, internet erişimi olan her yerde raporları inceleyebilme, tarihler arası kıyaslama yapma imkanı veriyor.</p>
                </div>
            </div>
        </div>

        <div class="problem-list animated" data-animate="fadeIn" data-delay=".2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="problem-icon">
                            <img src="~/images/lobelia/icon-investors.png" alt="üretim raporlama">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title text-center">Kapasitematik Raporlama İle </h5>
                            <ul>
                                <li>Üretim Verilerinizi Takip edebilirsiniz</li>
                                <li></li>
                                <li>Sistemden alacağınız veriler, makina kapasite kullanım hesaplamalarınıza büyük destek sağlayacaktır.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="problem-icon">
                            <img src="~/images/lobelia/icon-networks.png" alt="uzaktan takip">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">İşletmenizin Günlük OEE Analizi</h5>
                            <ul>
                                <li>İşletmenizin toplam ekipman etkinliklerini takip edebilir ve standartlara ne kadar yaklaştığınızı görebilirsiniz</li>
                                <li>Mevcut ekipmanların performansını takip edebilirsiniz</li>
                                <li>Kayıp zamanlarınızın önüne geçebilirsiniz</li>
                                <li><a href="/oee">Firmanızın OEE sini hesaplamak için tıklayınız</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="problem-icon">
                            <img src="~/images/raporlama-icon.png" alt="icon">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Verimlilik Raporları</h5>
                            <ul>
                                <li>Operatör Verimliliği raporu ile operatörlerinizi takip edebilir günlük haftalık aylık performanslarınızı görebilirsiniz.</li>
                                <li>Makina Verimliliğiyle makinalarınızın çalışma performanslarını ve verimli olarak kullanım zamanını takip edebilirisiniz.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="problem-icon">
                            <img src="~/images/features-icon-light-c.png" alt="icon">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Her Yerden Erişim</h5>
                            <ul>
                                <li>Web Raporlama Sistemi ile istediğiniz zaman belirlediğiniz tarih aralığındaki raporlara erişebilirsiniz.</li>
                                <li>
                                    Uygulama kapsamında sağlanan veriler ile alıcılara otomatik olarak gönderilen mailler ile raporlamalar alınabilmektedir.
                                </li>
                                <!--<li>How to network with other investors / like-minded people?</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<!-- End Section -->
<!-- Start Section -->
<!-- End Section -->



<div class="section section-pad section-bg" id="operator">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK OPERATÖR EKRANI
                        <!--<span>RAPORLAMA</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1"></p>
                </div>
            </div>
        </div>

        <div class="problem-list animated" data-animate="fadeIn" data-delay=".2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="/images/kapasitematik-tablet-mobil-masaustu.png">

                <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".3">

                    <div class="problem-info">
                        <h5 class="problem-title text-center">Operatöre özel ve dinamik bir şekilde makinelerin kullanıcı  seçildiği Operatör ekranları ile anlık üretim verileri </h5>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>

<!-- Start Section -->
<!-- Start Section -->
<div class="section-pad no-pb section-bg section-fix" id="roadmap">
    <div class="container">

        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        SÜREÇ HARİTASI

                    </h2>
                </div>
            </div>
        </div>
        <div class="timeline-list">
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content active animated" data-animate="fadeInUp" data-delay=".1">
                        <h5>Machine Learning</h5>
                        <p>Machine Learning ile analitik model oluşturmayı otomatikleştirmek. Verilerde gizli bilgilere ulaşmak için, neural networks, istatistikler, operasyon araştırması ve fizik yöntemler analizi yapma</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 text-md-right">
                    <div class="timeline-content timeline-content-left active animated" data-animate="fadeInUp" data-delay=".2">
                        <h5>Neural Network</h5>
                        <p>Neural Network eklentisiyle işlem, bağlantıları bulmak ve tanımlanmamış verilerden anlam çıkarmak için verilere birden fazla geçiş sağlamak.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content animated" data-animate="fadeInUp" data-delay=".3">
                        <h5>Deep Learning</h5>
                        <p>Deep Learning ile büyük miktarda verinin karmaşık modellerin analizini yapmak.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 text-md-right">
                    <div class="timeline-content timeline-content-left animated" data-animate="fadeInUp" data-delay=".4">
                        <h5>Computer Vision</h5>
                        <p>Computer Vision ile Makinalar görüntüleri işleyebilir, analiz edebilir ve anlarken, görüntü veya videoları gerçek zamanlı olarak yakalayabilir ve çevrelerini yorumlayabilir hale getirmek.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content animated" data-animate="fadeInUp" data-delay=".5">
                        <h5>Natural language</h5>
                        <p>Natural language processing ile insan dilini analiz edip, anlama ve konuşma açısından bilgisayarların yeteneği kabul edilerek. Doğal dil etkileşimi, insanların bilgisayarlar ile normal ve günlük dili kullanarak görevler gerçekleştirmek için iletişim kurmalarını sağlamak.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt section-connect" id="partners">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK GERÇEK ZAMANLI ANALİTİK VİDEOLARI

                    </h2>
                </div>
            </div>
        </div>
        <div class="partner-list">
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="Fanuc mtconnect">
                        <a href="https://www.youtube.com/watch?v=sqM-MBN3-PA" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Anlık Parça Sayısı Takibi</p>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=-8eH5KoRbHE" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Operatör Performans Takibi</p>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=hJJSoZAYC1E" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Makina Performans Takibi</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=hX7kbVDMfb4" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Program Numarası Takibi</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">

                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=QOjUKcmxrgk" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Vardiya Sistemi</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">

                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=U6M00aalAGw" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Toplam Parça Sayısı Analizi</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=qm6nHZXeIvg" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>OEE Analizi</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=IrIqH680c80" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Hedef Üretim Analizi</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=rHHNT7v5I1c" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Duruş Bildirim Takibi</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=n3mj3TdnWRw" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Üretim Bandı</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=br0NQxoJ-WE" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Operasyon Hacmi</p>
                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">
                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=b4Ok76zhxyY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>
                    <p>Toplam Günlük İş Hacmi</p>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad no-pb section-bg" id="faq">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2 ">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        Sıkça Sorulan Sorular

                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Kapasitematik sistemi içerisinde web tabanlı anlık izleme ve raporlama özelliği mevcuttur. Bu sayede tüm kayıpları makina, ekipman, operatörü durumu anlık olarak sorgulayabilirsiniz.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="tab-custom">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay=".2">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1">Genel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Üretim Takip Sistemi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Raporlama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">Vardiya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-5">Demo Süreci</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="tab-pane fade show active" id="tab-1">
                            <div class="accordion" id="accordion-1">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-1-1">
                                                Kapasitematik Nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Makina verimliliğini analiz eden; hata ve problemleri anlık geri bildirim yaparak kullanıcısına raporlayan ve hatasız üretim çözümleri sunan bir sistemdir.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                                Kapasitematik nasıl bir yazılımdır?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Web tabanlı programlama, raporlama ve anlık izleme araçları mevcuttur. Bu araçlar sayesinde tüm kayıpları makina, takım, personel ve iş süreci bazında anlık olarak sorgulayabilirsiniz. Tüm ekipmanlarınızın durumunu anlık olarak görebilirsiniz. Mobile teknolojiler sayesinde fabrika dışında da üretimi an be an izleyebilir süreçleri takip edebilirsiniz. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                Kapasitematik’in avantajı nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Makina bazında üretim planlamanızı gerçek zamanlı veriler sayesinde otomatik olarak yapabilirsiniz. İşçilik kayıp zamanlarınızı gözleyerek giderilmesi yönünde çalışmalar yapabilirsiniz. Operasyon sürelerinizi optimize edebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                Kapasitematik ile Endüstri 4.0 ilişkisi nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Endüstri 4.0 odaklı ve IOT (Nesnelerin İnterneti) konusuna hakimiz ve bu yönde yeni Ar-Ge yatırımları yapıyoruz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-2">
                            <div class="accordion" id="accordion-2">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-2-1">
                                                Canlı takip sistemine neler dâhil?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Maliyete etki eden tüm alanları gerçek veriler ile izleyebilirsiniz. Kapasitematik ile Gerçek zamanlı üretim takibi ve Planlı – plansız tüm duruşların takibi sağlanır.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                Operatör ve makina takibi nasıl sağlanıyor?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Bildirim Uyarı Servisi ile anında uyarı alabilir ve zamanında sisteme müdahale edebilirsiniz. Kapasitematik ile Teknik ekibin makina arızalarına müdahale ve onarım sürelerini tespit edebilirsiniz</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                Duruşlar manuel eklenti yapılabiliyor mu?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Fabrikanıza ait kendi belirlediğiniz planlı ve planlı duruşlarınızı manuel olarak sisteme ekleyebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-3">
                            <div class="accordion" id="accordion-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-3-1">
                                                Kapasitematik Raporlama Hizmeti nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p> Kapasitematik projesi için özel geliştirilen raporlama aracı sayesinde fabrikanızın günlük OEE analizini çıkartabilir haftalık ve aylık raporlara ulaşabilir verimlilik analizini çıkartabilirsiniz</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-2">
                                                Raporlama hizmetinin avantajı nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>Sistemden alacağınız veriler, makina kapasite kullanım hesaplamalarınıza büyük destek sağlayacaktır.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-3">
                                                Raporlara Nasıl Ulaşabiliriz?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>Raporlara günün sonunda farklı formatlarda mail yoluyla ulaşabildiğiniz gibi uygulamamızda raporlar sekmesinde anlık istediğiniz formatta rapor indirebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-4">
                                                Raporlama da geriye dönük ve tarih aralığın da sorgulama yapılabiliyor mu? <span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>Elde edilen tüm verileri, sınırsız ve esnek raporlama aracı ile geriye dönük olarak alabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-4">
                            <div class="accordion" id="accordion-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-4-1">
                                                Vardiya sistemi olarak kapasitematik çalışıyor mu?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Gündüz/Gece vardiyası şeklinde çalışan işletmelere uygun tasarlanmıştır. Gece ve gündüzün verilerini ayrı ayrı inceleyebilir isterseniz 24 Saat şeklinde de fabrika verilerinizi takip edebilir raporlarına ulaşabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-2">
                                                Kapasitematik’te en fazla kaç vardiya destekleniyor?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Kapasitematik Üretim takip ve verimlilik sistemi 3 vardiyaya kadar desteklenmektedir.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-3">
                                              Which was created for the bliss of souls like mine?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-4">
                                                Tüm vardiyaların verileri ayrı ayrı tutuluyor mu?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-4" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Kapasitematik Gece/Gündüz/3.Vardiya ve 24Saat şeklinde veriler tutulur. Gerçek zamanlı analitik verilerine ve vardiya raporlarına ayrı ayrı ulaşabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-5">
                            <div class="accordion" id="accordion-5">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-5-1">
                                                Demo Talebi nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-1" class="collapse show" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>Demo talebinde bulunduğunuz takdirde uygulamamızın fabrikanız için uyumlu olan formatta demosunun kurulumu yapılır ve istediğiniz yerden erişip fabrikanızı akıllı hale getirebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-2">
                                                Demo Kurulum süreci ne kadar sürmektedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-2" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>Kapasitematik Demo Kurulum Süreci talep ettiğiniz zaman 1 hafta içinde fabrikanıza kurulumu sağlanıyor</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-3">
                                                Demo paketine neler dahildir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-3" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>Kapasitematik sistemnin dahil olduğu tüm analizler demo paketine dahildir.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-4">
                                              One morning, when Gregor Samsa?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-4" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div><!-- End accordion -->
                        </div><!-- End tab-pane -->
                    </div><!-- End tab-content -->
                </div><!-- End tab-custom -->
            </div><!-- End col -->
        </div><!-- End row -->

    </div><!-- End container -->

</div>
<!-- End Section -->
<!-- Modal -->
<div class="modal fade" id="AlertMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color:black">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertMessageCenterTitle" style="color:black">Kapasitematik Mesajı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color:black">
                @{ string message = TempData["AlertMessage"] as string ?? ""; }
                @message
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
  var message = '@message';
    $(document).ready(function () {
        if (message) {
            var AlertMessageModal = $('#AlertMessage');
            AlertMessageModal.modal('show');
            setTimeout(function () { $('#AlertMessage').modal('hide'); }, 10000);
        }
    });
</script>

