﻿@{
    ViewBag.Title = "Kapasitematik | Real-Time Data Analyze";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
}

 <!-- Banner/Slider -->
<div id="header" class="banner banner-curb banner-full d-flex align-items-center">
    <div class="container">
        <div class="banner-content">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-10">
                    <div class="header-image-lobelia animated" data-animate="fadeInUp" data-delay="1.55">
                        <img src="/images/kapasitematik-anasayfa-gorsel.png" alt="header">
                    </div>
                </div><!-- .col  -->
                <div class="col-lg-12">
                    <div class="header-txt">
                        <h3 class="animated" data-animate="fadeInUp" >WE INCREASE THE LIFE AND EFFICIENCY OF YOUR MACHINES WITH KAPASITEMATIK</h3>
                        <p class="lead  animated" style="font-size:17px" data-animate="fadeInUp" >With the software program KAPASITEMATIKs developed by Tezmaksan Makina R & D team, business owners will be able to follow their machines from any internet environment. Does the machine work efficiently? When did it malfunction? Is the correct program used by the operator? Information such as, can be instantly checked from your tablet or mobile phone. In this way, businesses will save a significant amount of time and cost.</p>
                        
                    </div>
					  <div class="header-txt">
                        <h3 class="animated" data-animate="fadeInUp"  style="padding-top: 30px;">YOUR COSTS WILL DECREASE, YOUR PROFITABILITY WILL INCREASE</h3>
                        <p class="lead  animated" style="font-size:17px" data-animate="fadeInUp" ">With this project, which can be considered in Industry 4.0, the key data of the machines are collected in a center by remote access and these data are converted into reports. Remote monitoring and efficiency reporting system 'KAPASITEMATIKs' allows CNC users and businesses to measure their existing machines and see historical trend analysis. It is possible to complete and follow this kind of work with KAPASITEMATIKs at the touch of a button, which would normally be a problem in terms of both cost and time for an enterprise.</p>
                        
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .banner-content  -->
    </div><!-- .container  -->
</div>
<!-- End Banner/Slider -->


<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="intro">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 res-m-bttm animated" data-animate="fadeInUp" data-delay=".1">
                <div class="video-box-s2">

                    <img src="/images/header-image-light.png" alt="cover">
                    <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                        <em class="play-icon"><span></span></em>
                    </a>
                </div>
            </div><!-- .col  -->
            <div class="col-lg-5 offset-lg-1">
                <div class="text-block">
                    <h2 class="animated" data-animate="fadeInUp" data-delay=".2">What is Kapasitematik? </h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".3">Analyze your machine efficiency; It is a system that reports errors and problems to its users by making instant feedback and providing error-free production solutions.</p>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .conatiner  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad section-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        WHY KAPASITEMATIK?

                        <small>@ViewBag.Err</small>
                        <!--<span>NEDIR</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">With this project, which can be considered as the Industry 4.0 application, the key data of the machines are collected in a center by means of remote access and these data are converted into reports.</p>
                </div>
            </div>
        </div>
   
       <div class="row align-items-center">
                <div class="col-md-6">
                <ul class="features-list-s2">
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Planlı&Plansız Duruş Takibi" title="Planlı&Plansız Duruş Takibi">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Planned & Unplanned Posture Tracking</h5>
                            <p>Is this posture planned when your machine stops? Unplanned? It is in detail report to you.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Üretim Takibi" title="Üretim Takibi">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Production tracking</h5>
                            <p>Can follow the parts produced by the machines. This allows you to report productivity rates.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Verimlilik Takibi" title="Verimlilik Takibi">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Productivity Tracking</h5>
                            <p>It reads information such as working speed, production numbers and operation times from CNC machines instantly and calculates efficiency.</p>
                        </div>
                    </li>
						 <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Anlık olarak Ekranların görüldüğü ve detaylarının olduğu  Mobile Aplikasyon" title="Anlık olarak Ekranların görüldüğü ve detaylarının olduğu  Mobile Aplikasyon">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Mobile Application that displays and details screens instantly</h5>
                            <p>Mobile Application where the screens are displayed and details are displayed instantly
User-friendly and providing firm information directly to your Company needs Control from anywhere with the Mobile application shown with instant status screens
 </p>
                        </div>
                    </li>
				
                
			</ul>
            </div><!-- .col  -->
       
            <div class="col-md-6">
                <ul class="features-list-s2">
                
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Çift Yönlü API  ERP-Kapasitematik ⇔ Kapasitematik-ERP" title="Çift Yönlü API  ERP-Kapasitematik ⇔ Kapasitematik-ERP">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Bidirectional API ERP-KAPASITEMATIKs ⇔ KAPASITEMATIKs-ERP</h5>
                            <p>Controlling work orders and planning with instant data flow from Eras to ERP from Eras, Mrp Connections and Eras to ERP</p>
                        </div>
                    </li>
						  <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="ERP-MRP Entegrasyonları" title="ERP-MRP Entegrasyonları">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">ERP-MRP Integrations</h5>
                            <p>Providing ERP service in companies that do not have ERP Management with Micro ERP within itself and direct access with KAPASITEMATIK production data.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Operatör Ekranları" title="Operatör Ekranları">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Operator Screens</h5>
                            <p>Display of instant production data and Machine-specific OEE analytics with Operator screens, where operator-selective and dynamic user-selected machines are selected</p>
                        </div>
                    </li>
					 <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="Anlık Durum Ekranları" title="Anlık Durum Ekranları">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Instant Status Screens</h5>
                            <p>Manage your machine assets and view real-time equipment status and conditions</p>
                        </div>
                    </li>
					
               
				</ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    
   
   </div><!-- .container  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="bilgi">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 ">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        WHAT YOUR PRODUCTIVITY LEVEL OF YOUR MACHINES?
                        <span>PRODUCTION PRODUCTIVITY</span>
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">
                        By Kapasitematik, it is possible to monitor not only the machine but also the operator. <br /> Does the operator use the machine correctly? Does it over force the machine? Does it use the right tool? Which program did he choose? How many units have produced? <br /> All this can be tracked via tablet, computer or mobile phone. It allows the machine to be used correctly and efficiently. In this way, the profitability of companies is increasing.


                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="res-m-btm imgfix animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="/images/website verimlilikCHANGE.png" alt="graph">
                </div>
            </div><!-- .col  -->

            <div class="col-lg-6 order-last order-lg-first">
                <div class="text-block">
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                        By Kapasitematik, you can instantly access the information when the machine starts working, fault conditions and how efficiently the machine is used.


                    </p>
                    <ol>
                        <li class="animated" data-animate="fadeInUp" data-delay=".4">Provides real-time production tracking.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".5">Planned - unplanned follow-up is ensured.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".6">Capacity Management: Identifies the deficiencies of capacity.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".7">Improvement allows you to focus on what needs to be done.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".8">Manufacture quantities, Planned / Unplanned downtime and rates, Tool life management, Readiness, Breakdown Machine Distribution, Calculates and reports your machine performances.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".9">By archiving production data, provides traceability.</li>
                    </ol>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->

    </div><!-- .container  -->
</div>
<!-- Start Section -->

<div class="section section-pad section-bg" id="tokenSale">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASITEMATIK REPORTING
                        <!--<span>RAPORLAMA</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1"> By the reporting tool developed specifically for the KAP project, you can extract the daily OEE analysis of your factory and get the productivity analysis that can reach the weekly and monthly reports.</p>
                </div>
            </div>
        </div>

        <div class="problem-list animated" data-animate="fadeIn" data-delay=".2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="problem-icon">
                            <img src="~/images/lobelia/icon-investors.png" alt="icon">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title text-center">By Kapasitematik Reporting </h5>
                            <ul>
                                <li>Track Your Production Data</li>
                                <li></li>
                                <li>The data you receive from the system will provide great support to your machine capacity utilization calculations.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="problem-icon">
                            <img src="~/images/lobelia/icon-networks.png" alt="icon">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Daily OEE Analysis of Your Business</h5>
                            <ul>
                                <li>You can track the total equipment activities of your business and see how close you are to the standard</li>
                                <li>Monitor Existing Equipment Performance</li>
                                <li>You can go ahead of the Lost Times</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="problem-icon">
                            <img src="~/images/raporlama-icon.png" alt="icon">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Productivity Reports</h5>
                            <ul>
                                <li>By the Operator Efficiency report, you can track your operators and see your daily weekly monthly performances.</li>
                                <li>By Machine Efficiency, you can monitor the working performance of your machines and use them efficiently.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="problem-icon">
                            <img src="~/images/features-icon-light-c.png" alt="icon">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Access from anywhere</h5>
                            <ul>
                                <li>By the Web Reporting System, you can access reports from the date range you set at any time.</li>
                                <li>
                                    By the data provided within the scope of the application, it is possible to receive reports by mail sent to the recipients automatically.
                                </li>
                                <!--<li>How to network with other investors / like-minded people?</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Section -->
<!-- Start Section -->
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="app">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASITEMATIK MOBILE APPLICATION
                        <span>apps</span>
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Capacitational mobile screen view</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-4 offset-md-2">
                <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="/images/kapasitematil-mobil-gorsel-ekrani.png" alt="app">
                </div>
            </div>

            <div class="col-md-5 offset-md-1">
                <div class="text-block">
                    <p class="animated" data-animate="fadeInUp" data-delay=".3"> With this project, which can be considered as the Industry 4.0 application, the key data of the machines are collected in a center by remote access. Thanks to the remote monitoring system 'KAPASİTEMATİKs', CNC users and businesses can monitor their existing machines at any time.</p>
                    <ul>
                        <li>Machine Track</li>
                        <li>Number of Working Parts</li>
                        <li>Program Number</li>
                        <li>Posture Notifications</li>
                        <li>Total Downtime</li>
                        <li>Machine Performance</li>
                        <li>Operator Performance</li>
						<li>ERP-MRP Integrations</li>
						<li>Operator Screens</li>
						<li>Instant Status Screens</li>
						<li>Bidirectional API ERP-KAPASİTEMATİKs ⇔ KAPASİTEMATİKs-ERP</li>
                    </ul>
                    <ul class="btns">
                        <!--<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#intro" class="btn btn-sm">BILGI AL</a></li>-->
                        <li class="animated text-center" data-animate="fadeInUp" data-delay=".6">
                            <a href="#"><em class="fab fa-apple"></em></a>
                            <a href="#"><em class="fab fa-android"></em></a>
                            <a href="#"><em class="fab fa-windows"></em></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-pad section-bg" id="operator">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASITEMATIK OPERATOR SCREENS
                        <!--<span>RAPORLAMA</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1"></p>
                </div>
            </div>
        </div>

        <div class="problem-list animated" data-animate="fadeIn" data-delay=".2">
            <div class="row">
			<img src="/images/kapasitematik-tablet-mobil-masaustu.png">
                
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".3">
                       
                        <div class="problem-info">
                            <h5 class="problem-title text-center">Operator-specific and dynamic user-selectable operator screens with instant production data </h5>
                           
                        </div>
                    </div>
               
           </div>
        </div>

    </div>
</div>

<!-- Start Section -->
<!-- Start Section -->
<div class="section-pad no-pb section-bg section-fix" id="roadmap">
    <div class="container">

        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        PROCESS MAP
                        <span>Kapasitematik</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="timeline-list">
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content active animated" data-animate="fadeInUp" data-delay=".1">
                        @*<h6>Ocak 2019</h6>*@
                        <p>Automate analytical model creation By Machine Learning. Analyzing neural networks, statistics, operation research and physical methods for accessing confidential information in data</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 text-md-right">
                    <div class="timeline-content timeline-content-left active animated" data-animate="fadeInUp" data-delay=".2">
                        @*<h6>Nisan 2019</h6>*@
                        <p>By the Neural Network plug-in to process, find links and provide multiple passes to data to extract meaning from undefined data.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content animated" data-animate="fadeInUp" data-delay=".3">
                        @*<h6>Eylül 2019</h6>*@
                        <p>By Deep Learning to analyze complex models of large amounts of data.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 text-md-right">
                    <div class="timeline-content timeline-content-left animated" data-animate="fadeInUp" data-delay=".4">
                        @*<h6>Ocak 2020</h6>*@
                        <p>By Computer Vision, machines can capture, analyze and understand images, capture images or videos in real-time and make them interpretable.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content animated" data-animate="fadeInUp" data-delay=".5">
                        @*<h6>Haziran 2018</h6>*@
                        <p>By using natural language processing to analyze human language, the ability of computers in terms of understanding and speaking. Natural language interaction enables people to communicate By computers to perform tasks using normal and daily language.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt section-connect" id="partners">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASITEMATIK REAL-TIME ANALYTIC VIDEOS
                        <span>KAPASITEMATIK</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="partner-list">
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    Real-Time Count Tracking

                </div>
                <div class="col-lg-3">
                    Operator Performance Tracking
                </div>
                <div class="col-lg-3">
                    Machine Performance Tracking

                </div>
                <div class="col-lg-3">
                    Program Number Tracking
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    Shift System

                </div>
                <div class="col-lg-3">
                    Total Parça Piece of Count Analysis
                </div>
                <div class="col-lg-3">
                    OEE Analysis

                </div>
                <div class="col-lg-3">
                    Target Production Analysis
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">

                    Distrupt Notification Tracing

                </div>
                <div class="col-lg-3">
                    Production Line
                </div>
                <div class="col-lg-3">
                    Operation Volume

                </div>
                <div class="col-lg-3">
                    Total Daily Business Volume
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt section-connect" id="demo">
    <div class="container">
        @using (Html.BeginForm("Demo", "Home",  new { language = "en" } ,FormMethod.Post, new { @class = "well form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <div class="section-head">
                        <h6 class="section-title-sm about-info animated" data-animate="fadeInUp" data-delay="0">KAPASITEMATIK REQUEST</h6>
                    </div>
                </div>
            </div>

            <div class="partner-list">
                <div class="col-lg-8 offset-lg-2">
                    <div id="contact-form" class="form-message text-center">
                        <div class="form-results"></div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                            <input name="Name" type="text" class="input-line required" required>
                            <label class="input-title ">Name</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                            <input name="CompanyName" type="text" class="input-line required" required>
                            <label class="input-title">Company Name</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                            <input name="Email" type="email" class="input-line required email" required>
                            <label class="input-title">E-Mail</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                            <input name="MobilPhone" type="text" class="input-line required fa-phone">
                            <label class="input-title">Company Phone</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
                            <input name="Phone" type="text" class="input-line required">
                            <label class="input-title">Mobile Phone</label>
                        </div>
                        @*<div class="input-field animated" data-animate="fadeInUp" data-delay=".9">
            <input name="City" class="dropdown-item-text input-line required">
            <label class="input-title">City</label>
        </div>*@
                        <input type="hidden" name="kvkk_rslt_en" id="kvkk_rslt_en" value="false" />
                        <input name="Kvkk_Onay" id="Kvkk_Onay" type="checkbox" class="email kvkkonay_kpstmtk_en"> I have read the <a href="/aydinlatma-beyani" target="_blank">text Illumination</a> for the protection of personal data.

                        <div class="input-field" data-animate="fadeInUp" data-delay=".6">
                            <div class="g-recaptcha" data-sitekey="6LfM-IMUAAAAABEx0l-Q4Ar6bc7EZsHqNIlZmFop"></div>
                        </div>

                        <!--<input type="text" class="d-none" name="form-anti-honeypot" value="">-->
                        <div class="input-field" data-animate="fadeInUp" data-delay=".9">
                            <button type="submit" class="btn" id="kpstmk_talep_gndr_en">Send</button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad no-pb section-bg" id="faq">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        Frequently Asked Questions
                        <span>QUESTIONS</span>
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">By Kapasitematik system, web based instant monitoring and reporting is available. In this way, you can inquire about all the losses, machinery, equipment, operator status instantly.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="tab-custom">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay=".2">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Prduction Tracing System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Reporting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">Shift</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-5">Installing Process</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="tab-pane fade show active" id="tab-1">
                            <div class="accordion" id="accordion-1">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-1-1">
                                                What is Kapasitematik?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Analyze machine efficiency; It is a system that reports errors and problems to its users by making instant feedback and providing error-free production solutions.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                                What kind of software is Kapasitematik?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Web-based programming, reporting and instant tracking tools are available. Thanks to these tools, you can inquire all the losses instantly on the basis of machine, tooling, staff and business process. You can instantly see the status of all your equipment. Thanks to mobile technologies, you can also monitor production processes outside the factory.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                What is the advantage of Kapasitematik?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>You can do your production planning on machine basis automatically By real time data. Labor can be done by observing your lost times by observing your lost times. You can optimize your operation times.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                What is the relationship between Kapasitematik and Industry 4.0?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>We are committed to Industry 4.0 focusing on IOT (Internet of Things) and making new R & D investments in this direction.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-2">
                            <div class="accordion" id="accordion-2">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-2-1">
                                                What is included in the live tracking system?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>You can track all areas that affect the cost By real data. Real-time production tracking and all planned stoppages are provided By Kapasitematik.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                How is machine tracing provided?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>By Notification Alert Service, you can receive instant alerts and intervene in the system in time. You can determine the intervention and repair times of the technical team By the Kapasitematik</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                How is operator tracing provided?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>By Notification Alert Service, you can receive instant alerts and intervene in the system in time. You can determine the intervention and repair times of the technical team By the Kapasitematik</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                Are distrupts can be made By a manual plugin?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>You can add your planned planned and planned distrupts of your factory to the system manually.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-3">
                            <div class="accordion" id="accordion-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-3-1">
                                                What is the Kapasitematik Reporting Service?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>By the reporting tool developed specifically for the Kapasitematik project, you can extract the daily OEE analysis of your factory and access the weekly and monthly reports. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-2">
                                                What is the advantage of reporting?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>The data you receive from the system will provide great support to your machine capacity utilization calculations.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-3">
                                                How Do We Get Reports?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>You can reach the reports by mail at different formats at the end of the day. You can also download reports in the format you want instantly in the reports tab in our application.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-4">
                                                Can the reporting be retrospectively questioned and the date range as well?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>You can retrieve all of the data obtained retrospectively By unlimited and flexible reporting tool.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-4">
                            <div class="accordion" id="accordion-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-4-1">
                                                Does the Kapasitematik work as a shift system?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>
                                                Designed for day / night shifts. You can review day and night data separately. You can also track your factory data in 24 hours format.
                                            
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-2">
                                                How many shifts are supported in capacitance?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Kapasitematik Production tracking and efficiency system is supported up to 3 shifts.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-3">
                                              Which was created for the bliss of souls like mine?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-4">
                                                Are all shifts data kept separately?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-4" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Kapasitematik Night / Day / 3rd Shift and 24Hours are kept. You can access real-time analytics data and shift reports separately.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-5">
                            <div class="accordion" id="accordion-5">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-5-1">
                                                What is Demo Request?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-1" class="collapse show" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>If you request a demo, our application is set up in a format compatible By your factory and you can access it from anywhere and make your factory smart.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-2">
                                                How long does the demo setup process take?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-2" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>When you request the process of Capacitive Demo Installation, it is installed in your factory by 1 week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-3">
                                                What is included in the demo package?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-3" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>All analyzes including the capacitive system are included in the demo package.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-4">
                                              One morning, when Gregor Samsa?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-4" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div><!-- End accordion -->
                        </div><!-- End tab-pane -->
                    </div><!-- End tab-content -->
                </div><!-- End tab-custom -->
            </div><!-- End col -->
        </div><!-- End row -->

    </div><!-- End container -->

</div>
<!-- End Section -->


<!-- Modal -->
<div class="modal fade" id="AlertMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color:black">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertMessageCenterTitle" style="color:black">Kapasitematik Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color:black">
                @{ string message = TempData["AlertMessage"] as string ?? ""; }
                @message
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  var message = '@message';
    $(document).ready(function () {
        if (message) {
            var AlertMessageModal = $('#AlertMessage');
            AlertMessageModal.modal('show');
            setTimeout(function () { $('#AlertMessage').modal('hide'); }, 10*1000);
        }
    });
</script>