﻿@model KPSTMTK.Models.Demo
  

@{
    ViewBag.Title = "Kapasitematik Uygulaması";
    string imgAltText= "Tezmaksan kapasitematik endüstri 4.0 uygulamaları";
}

<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="intro">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 res-m-bttm animated" data-animate="fadeInUp" data-delay=".1">
                <div class="video-box-s2">

                    
                    <img src="~/images/header-image-light.png" alt="cover">
                    <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                        <em class="play-icon"><span></span></em>
                    </a>
                </div>
            </div><!-- .col  -->
            <div class="col-lg-5 offset-lg-1">
                <div class="text-block">
                    <h2 class="animated" data-animate="fadeInUp" data-delay=".2">Kapasitematik Nedir? </h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".3">Makina verimliliğini analiz eden; hata ve problemleri anlık geri bildirim yaparak kullanıcısına raporlayan ve hatasız üretim çözümleri sunan bir sistemdir.</p>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .conatiner  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad section-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        NEDEN KAPASİTEMATİK?

                        <small >@ViewBag.Err</small>
                        <!--<span>NEDİR</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Endüstri 4.0 uygulaması olarak düşünülebilecek bu proje ile uzaktan erişim yaparak makinelerin anahtar öneme sahip verileri bir merkezde toplanıyor ve bu veriler rapora dönüştürülüyor.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="res-m-btm imgfix animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="~/images/computer.png" alt="@imgAltText" width="667" height="552">
                </div>
            </div><!-- .col  -->
            <div class="col-md-6 offset-md-1">
                <ul class="features-list-s2">
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-decentralized.png" alt="icon">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Planlı&Plansız Duruş Takibi</h5>
                            <p>Makinanızın ne zaman durduğunu bu duruşun Planlı mı? Plansız mı ? olduğunu detay raporda size sunar.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-crowd.png" alt="icon">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Üretim Takibi</h5>
                            <p>Makinaların ürettiği parçaları takip edebilir. Bu sayede verimlilik oranlarını raporlayabilirsiniz.</p>
                        </div>
                    </li>
                    <li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s2">
                            <img src="~/images/lobelia/icon-reward.png" alt="icon">
                        </div>
                        <div class="features-texts-s2">
                            <h5 class="features-title-s2">Verimlilik Takibi</h5>
                            <p>Cnc Makinalardan çalışma hızı, üretim adetleri ve operasyon süreleri gibi bilgileri anlık olarak okur ve verimlilik hesabını yapar.</p>
                        </div>
                    </li>
                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="bilgi">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 ">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        MAKİNENİZİ NE KADAR VERİMLİ KULLANIYORSUNUZ?
                        <span>ÜRETİM VERİMLİLİĞİ</span>
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">
                        Kapasitematik ile sadece makinanın değil, operatörün takibi de yapılabiliyor. <br />Operatör makineyi doğru kullanıyor mu? Makineyi zorluyor mu?   Doğru takım kullanıyor mu? Hangi programı seçmiş? Kaç adet üretim yaptı?<br /> Tüm bunlar, tablet, bilgisayar veya cep telefonu üzerinden takip edilebiliyor. makinanın doğru ve verimli şekilde kullanılmasına olanak sağlıyor Kapasitematik. Bu sayede işletmelerin karlılığı artıyor.


                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="res-m-btm imgfix animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="~/images/website verimlilikCHANGE.png" alt="@imgAltText"  width="952" height="700">
                </div>
            </div><!-- .col  -->

            <div class="col-lg-6 order-last order-lg-first">
                <div class="text-block">
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                        Kapasitematik ile makinenin çalışmaya ne zaman başladığı, arıza durumları, makinenin ne kadar verimli kullanıldığı gibi bilgilere internet üzerinden anında ulaşabiliyorsunuz.


                    </p>
                    <ol>
                        <li class="animated" data-animate="fadeInUp" data-delay=".4">Gerçek zamanlı üretim takibi sağlar.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".5">Planlı – plansız tüm duruşların takibi sağlanır.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".6">Kapasite Yönetimi: Kapasitenin eksikliklerinin tespit edilmesini sağlar.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".7">İyileştirme yapılaması gereken noktalara odaklanmanızı sağlar.</li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".8">Üretim adetleri, Planlı/Plansız duruş süreleri ve oranları, Takım ömrü yönetimi, Hazır bulunabilirlik, Arıza Makina Dağılımı, Makina Performanslarınızı hesaplar ve raporlar. </li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".9">Üretim verilerini arşivleyerek, izlenebilirliğini sağlar. </li>
                    </ol>
                </div>
            </div><!-- .col  -->
        </div><!-- .row  -->

    </div><!-- .container  -->
</div>
<!-- Start Section -->

<div class="section section-pad section-bg" id="tokenSale">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK RAPORLAMA
                        <!--<span>RAPORLAMA</span>-->
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1"> Kapasitematik projesi için özel geliştirilen raporlama aracı sayesinde fabrikanızın günlük OEE analizini çıkartabilir haftalık ve aylık raporlara ulaşabilir verimlilik analizini çıkartabilirsiniz.<br />Raporlama Analiziyle belirlediğiniz tarihler skalasında geriye dönük makine performansını, internet erişimi olan her yerde raporları inceleyebilme, tarihler arası kıyaslama yapma imkanı veriyor.
                </div>
            </div>
        </div>

        <div class="problem-list animated" data-animate="fadeIn" data-delay=".2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="problem-icon">
                            <img src="~/images/lobelia/icon-investors.png"  alt="Kapasitematik Raporlama" width="145" height="145">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title text-center">Kapasitematik Raporlama İle </h5>
                            <ul>
                                <li>Üretim Verilerinizi Takip edebilirsiniz</li>
                                <li></li>
                                <li>Sistemden alacağınız veriler, makine kapasite kullanım hesaplamalarınıza büyük destek sağlayacaktır.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="problem-icon">
                            <img src="~/images/lobelia/icon-networks.png"  alt="Kapasitematik OEE Analizi" width="145" height="166">                       </div>
                        <div class="problem-info">
                            <h5 class="problem-title">İşletmenizin Günlük OEE Analizi</h5>
                            <ul>
                                <li>İşletmenizin toplam ekipman etkinliklerini takip edebilir standarta ne kadar yaklaştığınızı görebilirsiniz</li>
                                <li>Mevcut Ekipmanların Performansını takip edebilirsiniz</li>
                                <li>Kayıp Zmaanlarınızın Önüne geçebilirsiniz</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="problem-icon">
                            <img src="~/images/raporlama-icon.png"  alt="Kapasitematik verimlilik raporları" width="465" height="405">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Verimlilik Raporları</h5>
                            <ul>
                                <li>Operatör Verimliliği raporu ile operatörlerinizi takip edebilir günlük haftalık aylık performanslarınızı görebilirsiniz.</li>
                                <li>Makine Verimliliğiyle makinelerinizin çalışma performanslarını ve verimli olarak kullanım zamanını takip edebilirisiniz.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="problem-item d-sm-flex d-block animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="problem-icon">
                            <img src="~/images/features-icon-light-c.png"  alt="Kapasitematik her yerden erişim"  width="465" height="405">
                        </div>
                        <div class="problem-info">
                            <h5 class="problem-title">Her Yerden Erişim</h5>
                            <ul>
                                <li>Web Raporlama Sistemi ile istediğiniz zaman belirlediğiniz tarih aralığındaki raporlara erişebilirsiniz.</li>
                                <li>
                                    Uygulama kapsamında sağlanan veriler ile alıcılara otomatik olarak gönderilen mailler ile raporlamalar alınabilmektedir.
                                </li>
                                <!--<li>How to network with other investors / like-minded people?</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Section -->
<!-- Start Section -->
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="app">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK MOBİL UYGULAMA
                        <span>apps</span>
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Çok Yakında kapasitematik mobil hizmetiyle Makine Parkuru izleme ve telefonunuzdan 7/24 erişebileceğiniz Fabrika analizli Mobil hizmetimiz aktif olacaktır. </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-4 offset-md-2">
                <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".2">
                    <img src="~/images/mobil-kps-app.png" alt="@imgAltText"       width="600" height="638">
                </div>
            </div>

            <div class="col-md-5 offset-md-1">
                <div class="text-block">
                    <p class="animated" data-animate="fadeInUp" data-delay=".3"> Endüstri 4.0 uygulaması olarak düşünülebilecek bu proje ile uzaktan erişim yaparak makinelerin anahtar öneme sahip verileri bir merkezde toplanıyor. Uzaktan izleme sistemi olan 'Kapasitematik' sayesinde CNC kullanıcıları ve işletmeler, mevcut makinelerini her an takip edebiliyor.</p>
                    <ul>
                        <li>Makine Parkuru</li>
                        <li>İşleyen Parça Sayısı</li>
                        <li>Program Numarası</li>
                        <li>Duruş Bildirimleri</li>
                        <li>Toplam Duruş Süresi</li>
                        <li>Makine Performansı</li>
                        <li>Operatör Performansı</li>
                    </ul>
                    <ul class="btns">
                        <!--<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#intro" class="btn btn-sm">BİLGİ AL</a></li>-->
                        <li class="animated text-center" data-animate="fadeInUp" data-delay=".6">
                            <a href="#"><em class="fab fa-apple"></em></a>
                            <a href="#"><em class="fab fa-android"></em></a>
                            <a href="#"><em class="fab fa-windows"></em></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Section -->
<!-- Start Section -->
<div class="section-pad no-pb section-bg section-fix" id="roadmap">
    <div class="container">

        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        SÜREÇ HARİTASI
                        <span>Kapasitematik</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="timeline-list">
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content active animated" data-animate="fadeInUp" data-delay=".1">
                        @*<h6>Ocak 2019</h6>*@
                        <p>Machine Learning ile analitik model oluşturmayı otomatikleştirmek. Verilerde gizli bilgilere ulaşmak için, neural networks, istatistikler, operasyon araştırması ve fizik yöntemler analizi yapma</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 text-md-right">
                    <div class="timeline-content timeline-content-left active animated" data-animate="fadeInUp" data-delay=".2">
                        @*<h6>Nisan 2019</h6>*@
                        <p>Neural Network eklentisiyle işlem, bağlantıları bulmak ve tanımlanmamış verilerden anlam çıkarmak için verilere birden fazla geçiş sağlamak.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content animated" data-animate="fadeInUp" data-delay=".3">
                        @*<h6>Eylül 2019</h6>*@
                        <p>Deep Learning ile büyük miktarda verinin karmaşık modellerin analizini yapmak.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2 text-md-right">
                    <div class="timeline-content timeline-content-left animated" data-animate="fadeInUp" data-delay=".4">
                        @*<h6>Ocak 2020</h6>*@
                        <p>Computer Vision ile Makineler görüntüleri işleyebilir, analiz edebilir ve anlarken, görüntü veya videoları gerçek zamanlı olarak yakalayabilir ve çevrelerini yorumlayabilir hale getirmek.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="timeline-content animated" data-animate="fadeInUp" data-delay=".5">
                        @*<h6>Haziran 2018</h6>*@
                        <p>Natural language processing ile insan dilini analiz edip, anlama ve konuşma açısından bilgisayarların yeteneği kabul edilerek. Doğal dil etkileşimi, insanların bilgisayarlar ile normal ve günlük dili kullanarak görevler gerçekleştirmek için iletişim kurmalarını sağlamak.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container  -->
</div>
<!-- Start Section -->
<!-- Start Section -->
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad section-bg-alt section-connect" id="partners">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        KAPASİTEMATİK GERÇEK ZAMANLI ANALİTİK VİDEOLARI
                        <span>KAPASİTEMATİK</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="partner-list">
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    Anlık Parça Sayısı Takibi

                </div>
                <div class="col-lg-3">
                    Operatör Performans Takibi
                </div>
                <div class="col-lg-3">
                    Makine Performans Takibi

                </div>
                <div class="col-lg-3">
                    Program Numarası Takibi
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/features-icon-light-c.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    Vardiya Sistemi

                </div>
                <div class="col-lg-3">
                    Toplam Parça Sayısı Analizi
                </div>
                <div class="col-lg-3">
                    OEE Analizi

                </div>
                <div class="col-lg-3">
                    Hedef Üretim Analizi
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="video-box-s2">



                        <img src="~/images/extra-pages/user-page-image.png" alt="cover">
                        <a href="https://www.youtube.com/watch?v=sCgn_5TSFBY" class="play-btn-s2 video-play">
                            <em class="play-icon"><span></span></em>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">

                    Duruş Bildirim Takibi

                </div>
                <div class="col-lg-3">
                    Üretim Bandı
                </div>
                <div class="col-lg-3">
                    Operasyon Hacmi

                </div>
                <div class="col-lg-3">
                    Toplam Günlük İş Hacmi
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Start Section -->
<!-- Start Section -->
<!-- Demo Form-->
<div class="section section-pad section-bg-alt section-connect" id="demo">
    <div class="container">

        @using (Html.BeginForm("Demo", "Home", FormMethod.Post, new { @class = "well form-horizontal" }))
        {
         @Html.AntiForgeryToken()

            

    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
            <div class="section-head">
                <h6 class="section-title-sm about-info animated" data-animate="fadeInUp" data-delay="0">DEMO TALEBİ</h6>
            </div>
        </div>
    </div>
        <div class="partner-list">
            <div class="col-lg-8 offset-lg-2">
                <div id="contact-form" class="form-message text-center">
                    <div class="form-results"></div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                        @*<input name="Name" type="text" class="input-line required">*@
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-line", required = "required" } })
                        <label class="input-title ">Ad Soyad</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                        @*<input name="CompanyName" type="text" class="input-line required">*@

                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "input-line", required = "required" } })
                        <label class="input-title">Firma Adı</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                        @*<input name="Email" type="email" class="input-line required email">*@
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-line", type = "email", required = "required" } })

                        <label class="input-title">e-Posta Adresi</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                        @*<input name="MobilPhone" type="text" class="input-line required fa-phone">*@
                        @Html.EditorFor(model => model.MobilPhone, new { htmlAttributes = new { @class = "input-line required fa-phone" }, required = "required" })
                         <label class="input-title">Firma Telefonu</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
                        @*<input name="Phone" type="text" class="input-line required">*@
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input-line required fa-phone", required = "required" } })
                        <label class="input-title">Cep Telefonu</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".9">
                        @*<input name="City" class="dropdown-item-text input-line required">
                        <label class="input-title">İliniz</label>*@
                        @Html.DropDownList("City", ViewBag.CityNames as List<SelectListItem>, new { @class = "input-field animated" })
                    </div>

                    <!--<input type="text" class="d-none" name="form-anti-honeypot" value="">-->
                    <div class="input-field" data-animate="fadeInUp" data-delay=".9">
                        <button type="submit" class="btn">Gönder</button>
                    </div>
                </div>
            </div>

        </div>
        }
    </div>
</div>
<!-- End Section -->
<!-- Start Section -->
<div class="section section-pad no-pb section-bg" id="faq">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-head">
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">
                        Sıkça Sorulan Sorular
                        <span>SORULAR</span>
                    </h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".1">Kapasitematik sistemi içerisinde web tabanlı anlık izleme ve raporlama özelliği mevcuttur. Bu sayede tüm kayıpları makine, ekipman, operatörü durumu anlık olarak sorgulayabilirsiniz.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="tab-custom">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay=".2">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1">Genel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Üretim Takip Sistemi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Raporlama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">Vardiya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-5">Demo Süreci</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="tab-pane fade show active" id="tab-1">
                            <div class="accordion" id="accordion-1">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-1-1">
                                                Kapasitematik Nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Makina verimliliğini analiz eden; hata ve problemleri anlık geri bildirim yaparak kullanıcısına raporlayan ve hatasız üretim çözümleri sunan bir sistemdir.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                                Kapasitematik nasıl bir yazılımdır?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Web tabanlı programlama, raporlama ve anlık izleme araçları mevcuttur. Bu araçlar sayesinde tüm kayıpları makine, takım, personel ve iş süreci bazında anlık olarak sorgulayabilirsiniz. Tüm ekipmanlarınızın durumunu anlık olarak görebilirsiniz. Mobile teknolojiler sayesinde fabrika dışında da üretimi an be an izleyebilir süreçleri takip edebilirsiniz. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                Kapasitematik’in avantajı nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Makine bazında üretim planlamanızı gerçek zamanlı veriler sayesinde otomatik olarak yapabilirsiniz. İşçilik kayıp zamanlarınızı gözleyerek giderilmesi yönünde çalışmalar yapabilirsiniz. Operasyon sürelerinizi optimize edebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                Kapasitematik ile Endüstri 4.0 ilişkisi nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>Endüstri 4.0 odaklı ve IOT (Nesnelerin İnterneti) konusuna hakimiz ve bu yönde yeni Ar-Ge yatırımları yapıyoruz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-2">
                            <div class="accordion" id="accordion-2">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-2-1">
                                                Canlı takip sistemine neler dâhil?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Maliyete etki eden tüm alanları gerçek veriler ile izleyebilirsiniz. Kapasitematik ile Gerçek zamanlı üretim takibi ve Planlı – plansız tüm duruşların takibi sağlanır.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                Operatör ve makine takibi nasıl sağlanıyor?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Bildirim Uyarı Servisi ile anında uyarı alabilir ve zamanında sisteme müdahale edebilirsiniz. Kapasitematik ile Teknik ekibin makine arızalarına müdahale ve onarım sürelerini tespit edebilirsiniz</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                Operatör ve makine takibi nasıl sağlanıyor?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Bildirim Uyarı Servisi ile anında uyarı alabilir ve zamanında sisteme müdahale edebilirsiniz. Kapasitematik ile Teknik ekibin makine arızalarına müdahale ve onarım sürelerini tespit edebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                Duruşlar manuel eklenti yapılabiliyor mu?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>Fabrikanıza ait kendi belirlediğiniz planlı ve planlı duruşlarınızı manuel olarak sisteme ekleyebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-3">
                            <div class="accordion" id="accordion-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-3-1">
                                                Kapasitematik Raporlama Hizmeti nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p> Kapasitematik projesi için özel geliştirilen raporlama aracı sayesinde fabrikanızın günlük OEE analizini çıkartabilir haftalık ve aylık raporlara ulaşabilir verimlilik analizini çıkartabilirsiniz</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-2">
                                                Raporlama hizmetinin avantajı nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>Sistemden alacağınız veriler, makine kapasite kullanım hesaplamalarınıza büyük destek sağlayacaktır.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-3">
                                                Raporlara Nasıl Ulaşabiliriz?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>Raporlara günün sonunda farklı formatlarda mail yoluyla ulaşabildiğiniz gibi uygulamamızda raporlar sekmesinde anlık istediğiniz formatta rapor indirebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-4">
                                                Raporlama da geriye dönük ve tarih aralığın da sorgulama yapılabiliyor mu? <span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
                                        <div class="card-body">
                                            <p>Elde edilen tüm verileri, sınırsız ve esnek raporlama aracı ile geriye dönük olarak alabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-4">
                            <div class="accordion" id="accordion-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-4-1">
                                                Vardiya sistemi olarak kapasitematik çalışıyor mu?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Gündüz/Gece vardiyası şeklinde çalışan işletmelere uygun tasarlanmıştır. Gece ve gündüzün verilerini ayrı ayrı inceleyebilir isterseniz 24 Saat şeklinde de fabrika verilerinizi takip edebilir raporlarına ulaşabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-2">
                                                Kapasitematik’te en fazla kaç vardiya destekleniyor?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Kapasitematik Üretim takip ve verimlilik sistemi 3 vardiyaya kadar desteklenmektedir.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-3">
                                              Which was created for the bliss of souls like mine?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-4">
                                                Tüm vardiyaların verileri ayrı ayrı tutuluyor mu?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-4-4" class="collapse" data-parent="#accordion-4">
                                        <div class="card-body">
                                            <p>Kapasitematik Gece/Gündüz/3.Vardiya ve 24Saat şeklinde veriler tutulur. Gerçek zamanlı analitik verilerine ve vardiya raporlarına ayrı ayrı ulaşabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End tab-pane -->
                        <div class="tab-pane fade" id="tab-5">
                            <div class="accordion" id="accordion-5">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a data-toggle="collapse" data-target="#collapse-5-1">
                                                Demo Talebi nedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-1" class="collapse show" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>Demo talebinde bulunduğunuz takdirde uygulamamızın fabrikanız için uyumlu olan formatta demosunun kurulumu yapılır ve istediğiniz yerden erişip fabrikanızı akıllı hale getirebilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-2">
                                                Demo Kurulum süreci ne kadar sürmektedir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-2" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>Kapasitematik Demo Kurulum Süreci talep ettiğiniz zaman 1 hafta içinde fabrikanıza kurulumu sağlanıyor</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-3">
                                                Demo paketine neler dahildir?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-3" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>Kapasitematik sistemnin dahil olduğu tüm analizler demo paketine dahildir.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header">
                                        <h5>
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-4">
                                              One morning, when Gregor Samsa?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-5-4" class="collapse" data-parent="#accordion-5">
                                        <div class="card-body">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div><!-- End accordion -->
                        </div><!-- End tab-pane -->
                    </div><!-- End tab-content -->
                </div><!-- End tab-custom -->
            </div><!-- End col -->
        </div><!-- End row -->

    </div><!-- End container -->

</div>
<!-- End Section -->




<!-- Modal -->
<div class="modal fade" id="AlertMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color:black">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertMessageCenterTitle" style="color:black">Kapasitematik Mesajı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color:black">
               @{ string message = TempData["AlertMessage"] as string ?? ""; }
                @message
            </div>
       
        </div>
    </div>
</div>


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

 
<script>
  var message = '@message';
    $(document).ready(function () {
        if (message) {
            var AlertMessageModal = $('#AlertMessage');
            AlertMessageModal.modal('show');
            setTimeout(function () { $('#AlertMessage').modal('hide'); }, 5000);
        }
    });
</script>