﻿
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
}
<style>


    @@media only screen and (max-width: 770px) {
        .table-bordered {
            font-size: 6px !important;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            font-size: 6px;
        }
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 1px !important;
    }

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        font-weight: 600;
    }

    .table > tbody > tr > th {
        font-weight: 600;
    }
</style>
<div class="section section-pad-md section-bg-alt blog-section" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-content">

                    <br /><br />
                    <p style="font-weight:bold;">PRIVACY POLICY</p>

                    <p></p>

                </div>

            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->
</div>

