﻿@model KPSTMTK.Models.Demo

@{
    ViewBag.Title = "TalepFormu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Section -->

    <style>
    .talepFormCss {
    margin-left:25%;
    }
    @@media only screen and (max-width: 770px) {
        .talepFormCss {
            margin-left: 0px !important;
        }
    }

    </style>
<div class="section section-pad section-bg-alt section-connect" id="demo" style="padding-top:5%;">
    <div class="container">

        @using (Html.BeginForm("Demo", "Home", new { language = "tr" }, FormMethod.Post, new { @class = "well form-horizontal" }))
        {
            @Html.AntiForgeryToken()



            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <div class="section-head">
                        <h6 class="section-title-sm about-info animated" data-animate="fadeInUp" data-delay="0">KAPASİTEMATİK TALEP FORMU</h6>
                    </div>
                </div>
            </div>
            <div class="partner-list" style="padding-bottom:15px;">
                <div class="col-lg-8 offset-lg-2">
                    <div id="contact-form" class="form-message text-center">
                        <div class="form-results"></div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                            @*<input name="Name" type="text" class="input-line required">*@
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-line", required = "required" } })
                            <label class="input-title ">Ad Soyad</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                            @*<input name="CompanyName" type="text" class="input-line required">*@

                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "input-line", required = "required" } })
                            <label class="input-title">Firma Adı</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                            @*<input name="Email" type="email" class="input-line required email">*@
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-line", type = "email", required = "required" } })

                            <label class="input-title">E-Posta Adresi</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                            @*<input name="MobilPhone" type="text" class="input-line required fa-phone">*@
                            @Html.EditorFor(model => model.MobilPhone, new { htmlAttributes = new { @class = "input-line required fa-phone" }, required = "required" })
                            <label class="input-title">Firma Telefonu</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
                            @*<input name="Phone" type="text" class="input-line required">*@
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input-line required fa-phone", required = "required" } })
                            <label class="input-title">Cep Telefonu</label>
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".9">
                            @*<input name="City" class="dropdown-item-text input-line required">
                                <label class="input-title">İliniz</label>*@
                            @Html.DropDownList("City", ViewBag.CityNames as List<SelectListItem>, new { @class = "input-field animated" })
                        </div>
                        <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                            <small>
                                <input type="hidden" name="kvkk_rslt" id="kvkk_rslt" value="false" />
                                <input name="Kvkk_Onay" id="Kvkk_Onay" type="checkbox" class="email kvkkonay_kpstmtk"> Kişisel Verilerin Korunması amacıyla <a href="/aydinlatma-beyani" target="_blank">Aydınlatma Beyanını</a> okudum.
                            </small>

                            <label class=""></label>

                        </div>
                        <div class="input-field talepFormCss" data-animate="fadeInUp" data-delay=".6">
                            <div class="g-recaptcha" data-sitekey="6LfM-IMUAAAAABEx0l-Q4Ar6bc7EZsHqNIlZmFop"></div>
                        </div>
                        <!--<input type="text" class="d-none" name="form-anti-honeypot" value="">-->
                        <div class="input-field" data-animate="fadeInUp" data-delay=".9">
                            <button type="submit" class="btn" id="kpstmk_talep_gndr">Gönder</button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<!-- End Section -->
