﻿@model  KPSTMTK.Models.Referances

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;

}

<style>
    .haberDetailSection {
        padding-top: 80px;
    }

    h1 {
        margin-top: 0px !important;
    }

    @@media only screen and (max-width: 770px) {
        .haberDetailSection {
            padding-top: 80px;
        }
    }
</style>

<div class="section section-pad section-bg haberDetailSection" id="report">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12  col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                @Html.Raw(Model.Content.ToString())
            </div>
            <div class="offset-1 col-lg-9 col-md-9 col-sm-12  col-xs-12 text-left">
                <br />
                <a href="/referanslar" style="color:#eeeeee"><< Referanslara git</a>
            </div>
        </div>
    </div>
</div>

